{% extends "base.html" %}

{% block title %}
{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}
<body style="background-color: #232323;">
<h1 style="color: #ffffff; position:relative;left:100px;">High Maintenance Plants</h1>
<div class="container">
    <div class="bonsai tree">
        <div class="bonsai img">
            <img src="https://i.pinimg.com/originals/fc/94/85/fc9485bbabb8f59fe39b99dde09f34ab.jpg" width="270" height="269.75"style='float: left;'>
        </div>
        <div class="bonsai content">
            <h2 style="color: #ffffff;position:relative;left:50px;">1. Bonsai Tree</h2>
            <p1 style = "color:#ffffff;position:relative;left:50px;">While the bonsai tree may appear elegant, they are extremely difficult to take care of. There are many different specimens for bonsai trees, so you need to be aware of their needs and which climate they are best suited for. Bonsai trees are meant to live outdoors and require careful pruning of roots and shape. Luckily, they never outgrow their pot and are a cute and elegant addition to your home.</p1>
            <br>
            <br>
            <p2 style = position:relative;left:50px;>Purchase your Bonsai Tree at Home Depot for $30! (Bonsai Tree prices usually range from $20 - $150)</p2>
            <br>
            <a style = "color:#0F00FF;position:relative;left:80px;" href="https://www.homedepot.com/p/Brussel-s-Bonsai-Green-Mound-Juniper-Bonsai-Outdoor-DT-7079GMJ/100651255" walmart ="_blank">Home Depot Bonsai Tree</a>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
    </div>
    <div class="pointsettia">
        <div class="pointsettia img">
            <img src="https://www.petals.com/files/imagesSF/product/750/hdb201-rd-alt_zoom.jpg" width="225" height="281" style='float: left;'>
        </div>
        <div class="pointsettia content">
            <h2 style="color: #ffffff;position:relative;left:50px;">2. Pointsettia</h2>
            <p1 style = "color:#ffffff;position:relative;left:50px;">Commonly known as the holiday plant you see while walking down a Christmas-decorated store aisle, pointsettias require a lot of care and special placing in order to bloom to its fullest beaty. There is a specific period that pointsettias can rebloom but even a small ray of light could disrupt this process. Even if it does rebloom properly, it is best to leave it to professionals to bring you home a newly trimmed pot of these beautiful flowers. However, these flowers are a lovely addition to your living room along with your christmas tree and stockings. Drop by a local shop every year for a new pot of this beautiful, jolly plant and take in the added spirit in your own home.</p1>
            <br>
            <br>
            <p2  style = "color:#ffffff;position:relative;left:50px;">Purchase your Pointsettias at Home Depot for $30!</p2>
            <br>
            <a style = "color:#0F00FF;position:relative;left:80px;" href="https://www.homedepot.com/p/Costa-Farms-2-Qt-Fresh-Poinsettia-in-Decor-Upgrade-Pot-Live-CO-6POIN-3-TORI/308046368" walmart ="_blank">Home Depot Pointsettias</a>
            <br>
            <br>
            <br>
        </div>
    </div>
    <div class="easter lily">
        <div class="easter lily img">
            <img src="https://1goodshepherd.org/wp-content/uploads/2020/04/easter-lily-SS_240648721.jpg" width="280" height="200"style='float: left;'>
        </div>
        <div class="easter lily content">
            <h2 style="color: #ffffff;position:relative;left:50px;">3. Easter Lily</h2>
            <p1 style = "color:#ffffff;position:relative;left:50px;">Another holiday plant, this delicate flower is also a plant designated for the outdoors. It requires cold weather in order to bloom well and prepare for rebloom (bring indoors during this period). After the flower has bloomed, it must be brought outdoors and planted while the weather gets warmer. However, beware as this plant withers slowly indoors and can also bloom again in late summer.</p1>
            <br>
            <br>
            <p2  style = "color:#ffffff;position:relative;left:50px;">Purchase your Easter Lilies at Lowes for $8.</p2>
            <br>
            <a style = "color:#0F00FF;position:relative;left:80px;" href="https://www.lowes.com/pd/1-76-Quart-in-Plantable-Container-Easter-Lily-L2295/50007552" walmart ="_blank">Lowes Easter Lily</a>
            <br>
            <br>
        </div>
        <div class="moth orchid">
            <div class="moth orchid img">
                <img src="https://www.whiteflowerfarm.com/mas_assets/cache/image/5/1/7/c/20860.Jpg" width="250" height="250"style='float: left;'>
            </div>
            <div class="moth orchid content">
                <h2 style="color: #ffffff;position:relative;left:50px;">4. Moth Orchid</h2>
                <p1 style = "color:#ffffff;position:relative;left:50px;">While very elegant, these flowers require a lot of patience as they take longer to bloom flowers. This is because much energy is required to produce flowers, so the orchid must lose all of its old flowers to grow new ones. Luckily, you will see flowers bloom 2 to 3 times a year. There are many tips online on taking care of this plant, especially in order to ensure your house can be home to these beautiful flowers every 4 to 6 months.</p1>
                <br>
                <br>
                <p2  style = "color:#ffffff;position:relative;left:50px;">Purchase your moth orchids at Home Depot for $25!</p2>
                <br>
                <a style = "color:#0F00FF;position:relative;left:80px;" href="https://www.homedepot.com/p/Luna-River-4-0-in-Bio-Pot-Pink-Phalaenopsis-Orchid-4-0biopi/314033109" walmart ="_blank">Home Depot Moth Orchids</a>
                <br>
                <br>
                <br>
                <br>
            </div>
        </div>
        <div class="croton">
            <div class="croton img">
                <img src="https://www.rgfloral.com/wp-content/uploads/20191012_093105-01-e1570899299456.jpeg" width="250" height="250"style='float: left;'>
            </div>
            <div class="croton content">
                <h2 style="color: #ffffff;position:relative;left:50px;">5. Croton</h2>
                <p1 style = "color:#ffffff;position:relative;left:50px;">These tropical leaves are beautiful and may seem simple but is actually not as easy as it seems. Crotons do not thrive well indoors and must grow outside with bright light, moisture, and high humidity. If these requirements aren't met, their colors will be dull and they will easily attract spider mites, something you probably would not want in your homes. These plants grow especially well in tropical regions and can grow taller than a full grown adult.</p1>
                <br>
                <br>
                <p2  style = "color:#ffffff;position:relative;left:50px;">Purchase your crotons at Home Depot for $15!</p2>
                <br>
                <a style = "color:#0F00FF;position:relative;left:80px;" href="https://www.homedepot.com/p/Pure-Beauty-Farms-2-5-Qt-Croton-Petra-Shrub-Plant-in-6-33-In-Grower-s-Pot-DC1GCROTONPE/311051506" walmart ="_blank">Home Depot Croton</a>
                <br>
                <br>
                <br>
                <br>
            </div>
        </div>
    </div>
{% endblock %}
<div class=“background-image”><img src="../static/Flowers.jpg" width="1500" height="1000"></div>
{% block script %}
<script src="https://threejs.org/build/three.js"></script>
<script src="{{ url_for('static', filename='vanta.dots.min.js') }}"></script>
{% endblock %}