{% extends "base.html" %}

{% block head %}
<title>{{name}}| Home </title>
{% endblock %}

<!-- Project Information  -->
{% block title %}
<h1 style="color:#ffffff;position:relative;center:80px;">Welcome</h1>
{% endblock %}
{% block content %}
<div id="gif">
    <style>
    img { display: block; margin-left: auto; margin-right: auto}
    </style>
    <br>
    <br>
    <img src="https://i.pinimg.com/originals/e8/88/d4/e888d4feff8fd5ff63a965471a94b874.gif" alt="plant gif" style="width:400px;height:300px;position:relative;top:60px;"/>
</div>
<div id = "decriptions">
    <br>
    <br>
    <h2 style="color:#ffffff;position:relative;left:80px;">Login/Sign Up:<h2>
    <p1 style="color:#ffffff;position:relative;left:80px;"> Here you can sign up for an account that allows you to save the plants you like and login tab is there for any other time you would like to visit the website and view your progress. The dashboard is where you can view your saved progress.<p1>
    <h2 style="color:#ffffff;">Extoic Plants:<h2>
    <p1 style="color:#ffffff;;">This is a gallery of cool looking plants you can click through.<p1>
    <h2 style="color:#ffffff;">General Plant Info:<h2>
    <p1 style="color:#ffffff;">Here are multiple tabs for low maintenence plants, high maintenence plants, plants that would thrive in San Diego weather, and vegetables you can grow in your garden.<p1>
</div>
{% endblock %}
{% block script %}
<script src="https://threejs.org/build/three.js"></script>
<script src="{{ url_for('static', filename='vanta.dots.min.js') }}"></script>
{% endblock %}
