{% extends "base.html" %}

{% block title %}
{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}
<h1 style="...">Recipe for plants and vegetables </h1>
<h2 style="...">1. Tomato Basil Soup</h>
<div id='container'>
<img src="https://cdn.apartmenttherapy.info/image/upload/f_auto,q_auto:eco,c_fit,w_730,h_913/k%2FPhoto%2FRecipes%2F2019-08-Recipe-Best-Tomato-Basil-Soup%2FTomato_Basil_Soup_067" width="270" height="269.75"style='float: left;'>
    <p1 padding-left: 50px; style = "..."> Ingredients required are tomatoes, basil, carrots, and cabbage.
        <br> Plants In Order To Obtain Ingredients are basil,Tomatoes, Daucus Corota(Or Any Root Vegetable), and Cabbage.
        <br>Total Price: 4.28$
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
