{% extends "p2_sshlogin/main template.html" %}

{% block body %}
<!DOCTYPE html>
<html lang="en">
<body>



<iframe width="560" height="315" src="https://www.youtube.com/embed/E0X_AeOns_8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<iframe width="560" height="315" src="https://www.youtube.com/embed/d54xIsYPuGg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<iframe width="560" height="315" src="https://www.youtube.com/embed/LtNoegIq8b8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<iframe width="560" height="315" src="https://www.youtube.com/embed/iLSToeAIZXg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

https://drive.google.com/file/d/12g7eCuFUyRKNze0zJsg7PYlf-v-ehucF/view
https://drive.google.com/file/d/1oW82Ee79V9bnA5ZiaMrKE6yAe9e7BDeK/view

#yolo
</body>
</html>
{% endblock %}
