{% extends "p2_sshlogin/main template.html" %}

{% block body %}
<html>

<iframe src="https://docs.google.com/document/d/e/2PACX-1vRMseIw2Gp6g3KjQJqiRUvF-p-kIlCbdMIsAN8lNZnhl5BzsrAFFozIcz2eO8zUWV0CuVKDksotq8KA/pub?embedded=true" width="100%" height="1000" ></iframe>

</body>

<style>
  .vantatrunk {
	position: abosolute;
    display: block;
    min-width: 100%;
    min-height: 100vh;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;

	}
	.center {
  padding: 70px 0;
  border: 3px solid green;
}
</style>
</html>

{% endblock %}
