{% extends "base.html" %}
{% block title %} Karam Alshaikh | Calculator{% endblock %}

<!--
This following code gives the link then gives the image source.
-->
{% block content %}
<body>
  <center>
    <div class="card" style="width: 18rem;">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQU1S4lMWjfUNG0lpcHe5MdCds3O6Lk9shlAg&usqp=CAU" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Power-Rule Calculator</h5>
        <p class="card-text">This is a power-rule calculator</p>
        <a href="https://repl.it/join/ajmfnqwb-akprathipati" class="btn btn-primary" target="_blank">Link</a>
      </div>
    </div>
        <div class="card" style="width: 18rem;">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQU1S4lMWjfUNG0lpcHe5MdCds3O6Lk9shlAg&usqp=CAU" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Derivative/Intrgral Calculator</h5>
        <p class="card-text">This is a derivative/integral calculator (I worked on this)</p>
        <a href="https://repl.it/@KaramAlshaikh/Derivativeintegral-calculator#main.py" class="btn btn-primary" target="_blank">Link</a>
      </div>
    </div>
  </center>
</body>
{% endblock %}

<!-- https://repl.it/@KaramAlshaikh/Derivativeintegral-calculator#main.py
-->