{% extends "base.html" %}
{% block title %} Karam Alshaikh | Home{% endblock %}

<!-- most code after this is plain text code -->
{% block content%}
<body>
<body style="background-color:rgb(83,239,116);">
</body>
  <h1 style=" text-align:center;"> Welcome to Karam's personal website! </h1>
  <div>
    <p>This website will be used to show the work I have done so far throughout this project.</p>
  </div>
  <!-- image source -->
   <!--animation-->
  <img src= "https://miro.medium.com/max/1200/1*9Cqyu3Lx4BKHUZShGe5cuQ.jpeg" height="800" width="1900">

<!--</body>-->
{% endblock %}