{% extends "base.html" %}
{% block title %} Karam Alshaikh | Videos{% endblock %}

{% block content %}
<body>
  <center>
    </br>
    </br>
    <a href="https://drive.google.com/file/d/1xojX049hX4j75dXAYVJWbJvml3F10uKb/view?usp=sharing" class="btn btn-primary" target="_blank">Link</a>
    <!-- link -->
    <img src= "https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRoEFrzn8KLPuTLh0qM7VYFG1fYJK6DGe3XrA&usqp=CAU" height="1000" width="562">
    <!-- image source -->
  </center>
</body>
{% endblock %}

<!--
Link1: https://www.youtube.com/channel/UC1TMB_psmsWEBlahXNxl0oA?view_as=subscriber

Link2: https://lh3.googleusercontent.com/3zkP2SYe7yYoKKe47bsNe44yTgb4Ukh__rBbwXwgkjNRe4PykGG409ozBxzxkrubV7zHKjfxq6y9ShogWtMBMPyB3jiNps91LoNH8A=s500
-->