{% extends "base2.html" %}

{% block head %}
<title>About Us</title>
{% endblock %}


<!-- Project Information -->
{% block title %}
<div style="background-color:#F77F00;border-bottom:3px solid white;color:white;width:100%; margin: 0px auto 100px auto;
            text-align:center; padding:20px;">
    <h1>About Us</h1>
</div>
{% endblock %}


{% block projectplan %}

<div style="color:white; padding: 50px 150px; padding-bottom:100px;">
    {% for data in datalist2: %}
        {% set greeting = data["greeting"] %}
        {% set name = data["name"] %}
        {% set dob = data["dob"] %}
        {% set job = data["job"] %}
        {% set story = data["story"] %}

        <ol style="list-style-type:none; padding-bottom:80px">
            <li><H1>"{{greeting}} my name is <span style='color:orangered;'>{{name}}</span>"</H1></li>
            <li>"My birthday is <span style='color:orangered;'>{{dob}}</span>"</li>
            <li>"My job is a <span style='color:orangered;'>{{job}}</span>"</li>
            <li><p><span style='color:white;'>{{story}}</span></p></li>
        </ol>
    {% endfor %}
</div>

{% endblock %}