{% extends "homemusic.html" %}

{% block musictype %}🎷Jazz🎷{% endblock %}

{% block vid1 %}
<iframe src="https://player.vimeo.com/video/145489711" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
<p><a href="https://vimeo.com/145489711">Cantaloupe Island - Herbie Hancock</a> from <a href="https://vimeo.com/user45688011">Air Groove Tempo</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
{% endblock %}

{% block desc1 %}
<h3>Herbie Hancock - Cantaloupe Island</h3>
<p>Ok I'm gonna be honest here, I wasn't into Jazz much before, but this song goes hard. Groovy as hell. I could be doing
    homework to this song and I'd get nothing done. That's all I really have to say.</p>
{% endblock %}

{% block vid2 %}
<iframe src="https://player.vimeo.com/video/136096997?color=ffffff&title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
<p><a href="https://vimeo.com/136096997">Roy Hargrove Quintet - Strasbourg St Denis (09)</a> from <a href="https://vimeo.com/pistoncaptation">Piston Captation</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
{% endblock %}

{% block desc2 %}
<h3>Roy Hargrove - Strasbourg St. Denis</h3>
<p>Does jazz count as classy music? I feel like everything that was formally popular is considered classy.
    I'm sure jazz wasn't considered classy back in the day. I watched a movie called swing kids where kids
    protest hitler by listening and dancing to jazz. Anything that kids like, will not be considered classy.</p>
{% endblock %}

{% block vid3 %}
<iframe src="https://player.vimeo.com/video/87938633" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
<p><a href="https://vimeo.com/87938633">CONFIRMATION ( Charlie Parker)</a> from <a href="https://vimeo.com/user9786383">Lorenzo Vitolo</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
{% endblock %}

{% block desc3 %}
<h3>Charlie Parker - Confirmation</h3>
<p>Honestly, I feel like anything that can be played in front of an audience while the audience is sitting and not moshing is classy.
    Like low energy but still enjoyable. I know this music is top tier, but to be honest, it sounds like the background music to a
    growing up montage from the secret life of Pets. Groovy but still backgrounds music. Can't capture my full attention. But maybe
    my generation has actually screwed attention spans, so I guess I'm not the boss of groovy or not music.</p>
{% endblock %}

{% block vid4 %}
<iframe src="https://player.vimeo.com/video/33249736?title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
<p><a href="https://vimeo.com/33249736">Miles Davis ~ So What ~ 1959</a> from <a href="https://vimeo.com/victrolux">Victor Ingrassia</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
{% endblock %}

{% block desc4 %}
<h3>Miles Davis - So What</h3>
<p>In the past songs, I felt that Jazz was an aquired taste that I hadn't yet aquired. And you know what?
    I still haven't. But I can still appreciate good music, like everyone. Maybe we as humans are desined to only truly
    vibe to the music we hear as kids.
    This song is groovy af like actually. I listened to it an the groove goes hard as heck. The little Br Br Br literally incredible.
    This dude probably had to stand up to hella racists at the time too. Mad Respect.</p>

{% endblock %}