{% extends "homemusic.html" %}

{% block musictype %}🎷Jazz🎷{% endblock %}

{% block vid1 %}
<iframe src="https://player.vimeo.com/video/145489711" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
<p><a href="https://vimeo.com/145489711">Cantaloupe Island - Herbie Hancock</a> from <a href="https://vimeo.com/user45688011">Air Groove Tempo</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
{% endblock %}

{% block desc1 %}
<h3>Herbie Hancock - Cantaloupe Island</h3>
<p>Cantaloupe Island is a Jazz standard that was recorded by Herbie Hancock in 1964.
    It was within his album Empyrean Isles, when Herbie Hancock was still a part of the Miles Davis quintet.
    Instrumentation was as follows: Hancock on piano, Freddie Hubbard on cornet, Ron carter on Bass, and Tony Williams on drums.
    Be sure to give this classic Jazz standard a listen as it brings you through the funky and cool rhythms
    of Herbie Hancock's genius.</p>
{% endblock %}

{% block vid2 %}
<iframe src="https://player.vimeo.com/video/136096997?color=ffffff&title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
<p><a href="https://vimeo.com/136096997">Roy Hargrove Quintet - Strasbourg St Denis (09)</a> from <a href="https://vimeo.com/pistoncaptation">Piston Captation</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
{% endblock %}

{% block desc2 %}
<h3>Roy Hargrove - Strasbourg St. Denis</h3>
<p>This cool and groovy tune was only possible because of the amazing American jazz trumpeter Roy Hargrove.
    He has gained worldwide notice after winning two grammy awards, with his
    most well known and famed performance being in 2007, at the New Morning in Paris (not pictured).
    That rendition of Strasbourg St. Denis will surely get you to appreciate the beauty of Hargrove's music</p>
{% endblock %}

{% block vid3 %}
<iframe src="https://player.vimeo.com/video/87938633" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
<p><a href="https://vimeo.com/87938633">CONFIRMATION ( Charlie Parker)</a> from <a href="https://vimeo.com/user9786383">Lorenzo Vitolo</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
{% endblock %}

{% block desc3 %}
<h3>Charlie Parker - Confirmation</h3>
<p>This banging bebop standard showcased Parker's ridiculous melodic and technical capabilities.
    He composed it in 1945 and and it helped distinguish himself as being in a league of his own.
    Even today, many musicians are left astonished by what Parker was able to accomplish on the saxophone.
    This tune truly displays why Charlie Parker is a legend in the Jazz world.</p>
{% endblock %}

{% block vid4 %}
<iframe src="https://player.vimeo.com/video/33249736?title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
<p><a href="https://vimeo.com/33249736">Miles Davis ~ So What ~ 1959</a> from <a href="https://vimeo.com/victrolux">Victor Ingrassia</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
{% endblock %}

{% block desc4 %}
<h3>Miles Davis - So What</h3>
<p>"So What" is the first track in Miles Davis's influential album <i>Kind of Blue.</i>
    It still serves today as one of the best examples of modal jazz, so much so that
    John Coltrane himself used this same chord structure for his own tune "Impressions".
    Giving this tune a listen will really help you appreciate Davis's music.</p>

{% endblock %}