{% extends "homemusic.html" %}

{% block musictype %}🎙️Pop🎙️{% endblock %}

{% block vid1 %}
<iframe src="https://player.vimeo.com/video/420895284" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
<p><a href="https://vimeo.com/420895284">Harry Styles - Watermelon Sugar</a> from <a href="https://vimeo.com/bradleyandpablo">BRADLEY&amp;PABLO</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
{% endblock %}

{% block desc1 %}
<h3>Watermelon Sugar - Harry Styles</h3>
<p>This song went viral on tik tok and everyone loves Harry Styles lmao. Also he used to be on one direction which was cool.</p>
{% endblock %}

{% block vid2 %}
<iframe src="https://player.vimeo.com/video/395759999?title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
<p><a href="https://vimeo.com/395759999">The Weeknd &quot;Blinding Lights&quot;</a> from <a href="https://vimeo.com/olivermillar">Oliver Millar</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
{% endblock %}

{% block desc2 %}
<h3>Blinding Lights - The Weekend</h3>
<p>Idk the weekend is cool and has nice hair</p>
{% endblock %}

{% block vid3 %}
<iframe src="https://player.vimeo.com/video/366233076" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
<p><a href="https://vimeo.com/366233076">Shawn Mendes, Camila Cabello - Se&ntilde;orita</a> from <a href="https://vimeo.com/user99947366">Shawn Mendes</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
{% endblock %}

{% block desc3 %}
<h3>Senorita - Shawn Mendes, Camila Cabello</h3>
<p>They were both relavent and dating i guess</p>
{% endblock %}

{% block vid4 %}
<iframe src="https://player.vimeo.com/video/439340893" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
<p><a href="https://vimeo.com/439340893">Justin Bieber - Yummy (Official Video)</a> from <a href="https://vimeo.com/user119781537">Pixel Play</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
{% endblock %}

{% block desc4 %}
<h3>Justin Bieber - Yummy</h3>
<p>He wrote this to become viral on tik tok</p>
{% endblock %}


<!--watermelon sugar
    blinding lights
    wonder
    yummy -->