{% extends "homemusic.html" %}

{% block musictype %}🎙️Pop🎙️{% endblock %}

{% block vid1 %}
<iframe src="https://player.vimeo.com/video/420895284" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
<p><a href="https://vimeo.com/420895284">Harry Styles - Watermelon Sugar</a> from <a href="https://vimeo.com/bradleyandpablo">BRADLEY&amp;PABLO</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
{% endblock %}

{% block desc1 %}
<h3>Watermelon Sugar - Harry Styles</h3>
<p>This popular summer favorite hit everyone's ears on May 15 2020 and ended up getting to
    the top 10 charts in more than 20 countries. The lyrics are, “Tastes like strawberries on a summer evenin’/
    And it sounds just like a song/I want more berries and
    that summer feelin’/It’s so wonderful and warm.” Between “taste,” “breathe me in” and more,
    it’s about emotionally and physically vibing with someone.
    This song will surely get you in the summer mood!
</p>
{% endblock %}

{% block vid2 %}
<iframe src="https://player.vimeo.com/video/395759999?title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
<p><a href="https://vimeo.com/395759999">The Weeknd &quot;Blinding Lights&quot;</a> from <a href="https://vimeo.com/olivermillar">Oliver Millar</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
{% endblock %}

{% block desc2 %}
<h3>Blinding Lights - The Weekend</h3>
<p>"Blinding Lights" is a song by Canadian singer the Weeknd that serves as the second
    single of his fourth studio album After Hours (2020). It was released on November 29, 2019, two days after the release of "Heartless".
    The Weeknd wrote and produced the song with producers Max Martin and Oscar Holter, with Belly and Jason Quenneville receiving additional writing credits.
    A Chromatics remix of the song was released alongside the deluxe edition of its parent album on March 23, 2020.
    "Blinding Lights" peaked at number one in thirty-four countries, including the United States and Canada,
    where it became the Weeknd's fifth number one single on the Billboard
    Hot 100 and the Canadian Hot 100 for four and seven weeks, respectively.</p>
{% endblock %}

{% block vid3 %}
<iframe src="https://player.vimeo.com/video/366233076" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
<p><a href="https://vimeo.com/366233076">Shawn Mendes, Camila Cabello - Se&ntilde;orita</a> from <a href="https://vimeo.com/user99947366">Shawn Mendes</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
{% endblock %}

{% block desc3 %}
<h3>Senorita - Shawn Mendes, Camila Cabello</h3>
<p>"Señorita" is a song by Canadian singer Shawn Mendes and Cuban-American singer Camila Cabello.
    It was released as the second single (seventh overall) from the deluxe edition of Mendes' self-titled third studio album through Island Records on June 21, 2019.
    It is also included on Cabello's second studio album Romance (2019). The song was written by Mendes, Cabello, Charli XCX, Ali Tamposi, Jack Patterson, and its producers Andrew Watt, Benny Blanco, and Cashmere Cat.
    The song marks Mendes and Cabello's second collaboration, following "I Know What You Did Last Summer" from Mendes' debut album, Handwritten (2015).
    "Señorita" reached number one on the US Billboard Hot 100, as well as thirty-five other countries.</p>
{% endblock %}

{% block vid4 %}
<iframe src="https://player.vimeo.com/video/439340893" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
<p><a href="https://vimeo.com/439340893">Justin Bieber - Yummy (Official Video)</a> from <a href="https://vimeo.com/user119781537">Pixel Play</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
{% endblock %}

{% block desc4 %}
<h3>Justin Bieber - Yummy</h3>
<p>"Yummy" is a song by Canadian singer Justin Bieber.
    It was released on January 3, 2020, along with a lyric video through Def Jam Recordings, as the lead single from his fifth studio album, Changes.
    The song is Bieber's first single as a solo artist to be released in almost four years, following his March 2016 single,
    "Company", a song from his 2015 album Purpose. Bieber notably joined the video-sharing social networking service TikTok on the day of the song's release.
    "Yummy" received mixed reviews from music critics,
    some of whom complimented on Bieber's vocal performance while others criticized the song's production,
    its songwriting, and Bieber's delivery.</p>
{% endblock %}


<!--watermelon sugar
    blinding lights
    wonder
    yummy -->