{% extends "homemusic.html" %}

{% block musictype %}🎸Rock🎸{% endblock %}

{% block vid1 %}
<iframe src="https://player.vimeo.com/video/239459024" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
<p><a href="https://vimeo.com/239459024">Thor - Immigrant song (Led Zeppelin)</a> from <a href="https://vimeo.com/mdata91">Franck ANIERE</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
{% endblock %}

{% block desc1 %}
<h3>Immigrant song - Led Zeppelin</h3>
<p>This song was lit and it was in avengers ads everyone knows it but no one knows the title</p>
{% endblock %}

{% block vid2 %}
<iframe src="https://player.vimeo.com/video/205569820" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
<p><a href="https://vimeo.com/205569820">Pink Floyd - Comfortably Numb Live</a> from <a href="https://vimeo.com/user63321467">Soham Majumder</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
{% endblock %}

{% block desc2 %}
<h3>Comfortably Numb - Pink Floyd</h3>
<p>I've never heard this song in my life dude. I know its popular but I honestly don't know, sue me I guess.</p>
{% endblock %}

{% block vid3 %}
<iframe src="https://player.vimeo.com/video/331116028" width="640" height="477" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
<p><a href="https://vimeo.com/331116028">Jimi Hendrix - All Along The Watchtower</a> from <a href="https://vimeo.com/user23984926">Amal Abey</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
{% endblock %}

{% block desc3 %}
<h3>All Along The Watchtower - Jimi Hendrix</h3>
<p>Never heard this song before either but it sounds groovy as hell.</p>
{% endblock %}

{% block vid4 %}
<iframe src="https://player.vimeo.com/video/45714479" width="640" height="362" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
<p><a href="https://vimeo.com/45714479">Converse - We Will Rock You</a> from <a href="https://vimeo.com/idstudi0">Halil Xhafa</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
{% endblock %}

{% block desc4 %}
<h3>We Will Rock You - Queen</h3>
<p>If you haven't heard this song then literally what are you doing. What is your major malfunction. You Patric Star looking idiot.
    Living Under a rock like that. What are you even doing with your life. Do you not have friends? What? Where do you get your dopamine?</p>
{% endblock %}
