{% extends "homemusic.html" %}

{% block musictype %}🎸Rock🎸{% endblock %}

{% block vid1 %}
<iframe src="https://player.vimeo.com/video/239459024" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
<p><a href="https://vimeo.com/239459024">Thor - Immigrant song (Led Zeppelin)</a> from <a href="https://vimeo.com/mdata91">Franck ANIERE</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
{% endblock %}

{% block desc1 %}
<h3>Immigrant song - Led Zeppelin</h3>
<p>The Immigrant Song by Led Zeppelin was released on October 5, 1970 with the album "Led Zeppelin III".
    The band members of Led Zeppelin are Jimmy Page, the guitarist, Robert Plant, the vocalist, John Bonham, the drummer, and John Paul Jones, the bassist.
    A large part of the lyrics allude to Norse Mythology and Plant's vocals represent war and Valhalla,
    a hall in Asgard that is ruled by Odin. This is a classic song that anyone should listen to as it is a great representation
    of Led Zeppelin, the progenitors of heavy metal and album-oriented rock.</p>
{% endblock %}

{% block vid2 %}
<iframe src="https://player.vimeo.com/video/205569820" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
<p><a href="https://vimeo.com/205569820">Pink Floyd - Comfortably Numb Live</a> from <a href="https://vimeo.com/user63321467">Soham Majumder</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
{% endblock %}

{% block desc2 %}
<h3>Comfortably Numb - Pink Floyd</h3>
<p>Comfortably Numb by Pink Floyd is another classic song that was released in 1980 with their album "The Wall".
    The band members of Pink Floyd consist of David Gilmour, the guitarist and co-vocalist,
    Roger Waters, the bassist and vocalist, Nick Mason, the drummer, and Richard Wright, the keyboardist.
    Comfortably Numb is much more calm and mellow than anything by Led Zeppelin, and it is a song about loneliness.
    You should listen to this song as well because it is very different than that of Led Zeppelin's, but it can show you another side of rock music.</p>
{% endblock %}

{% block vid3 %}
<iframe src="https://player.vimeo.com/video/331116028" width="640" height="477" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
<p><a href="https://vimeo.com/331116028">Jimi Hendrix - All Along The Watchtower</a> from <a href="https://vimeo.com/user23984926">Amal Abey</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
{% endblock %}

{% block desc3 %}
<h3>All Along The Watchtower - Jimi Hendrix</h3>
<p>All Along the Watchtower by Jimi Hendrix was released on November 6, 1967 with his album "Electric Ladyland".
    Jimi Hendrix is known as one of the greatest guitarists and the greatest electric guitarist of all time.
    This song was originally made by Bob Dylan, one of the greatest songwriters of all time.
    This song is a must listen to for anyone who is slightly into rock or guitar in general.
    Jimi's amazing riffs and guitar skill will blow you away.</p>
{% endblock %}

{% block vid4 %}
<iframe src="https://player.vimeo.com/video/45714479" width="640" height="362" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
<p><a href="https://vimeo.com/45714479">Converse - We Will Rock You</a> from <a href="https://vimeo.com/idstudi0">Halil Xhafa</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
{% endblock %}

{% block desc4 %}
<h3>We Will Rock You - Queen</h3>
<p>"We Will Rock You" is a song written by Brian May and recorded by British rock band Queen for their 1977 album News of the World.
    Rolling Stone ranked it number 330 of "The 500 Greatest Songs of All Time" in 2004, and it placed at number 146 on the Songs of the Century list in 2001.
    In 2009, "We Will Rock You" was inducted into the Grammy Hall of Fame. Other than the last 30 seconds, which contains a guitar solo by May,
    the song is generally set in a cappella form, using only stomping and clapping as a rhythmic body percussion beat.
    This is a song pretty much everyone has heard, but if you haven't you should get to it!</p>
{% endblock %}
