{% extends "base.html" %}

{% block head %}
{{ super() }}
    <style type="text/css">

* { margin:0;padding:0;box-sizing:border-box; }

@-webkit-keyframes fadein {
  0%   {opacity: 0;}
  100% {opacity: 1;}
}

@-moz-keyframes fadein {
  0%   {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadein {
  0%   {opacity: 0;}
  100% {opacity: 1;}
}

a {text-decoration:none;color:#333;transition:0.15s ease-in;}
a:hover {color:#aaa;}
b,strong {color:#333;}

body {
  background:#fff;
  font-family:'Georgia',serif;
  font-size:12px;
  line-height:175%;
  font-weight:300;
  color:#767676;
  -webkit-animation: fadein 1s;
  -moz-animation: fadein 1s;
  animation: fadein 1s;
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
  font-smoothing:antialiased;
}

section {
  margin:150px;
  width:600px;
}

h1,h2 {
  font-weight:400;
  color:#333;
  margin-bottom:5px;
}

h1 { font-size:20px; }
h2 { font-size:16px; }

<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.dropbtn {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 100px;
}

.dropdown-content a {
  color: #333;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {display: block;}

article {
  margin-top:40px;
  padding-top:40px;
  border-top:1px solid #eee;
  display:block;
  min-height:140px;
}

article img {
  width:100px;
  height:100px;
  border-radius:0%;
  float:left;
  margin-right:40px;
}

nav { margin-top:5px; }
.content { width:460px; margin-left:140px; }

</style>
{% endblock %}

{% block title %} <h1>about us</h1> {% endblock %}
{% block content %} hello! we are the creators of fruity photos!  <a href="https://portfolio.fruitycoders.repl.co">click here to visit our portfolio website.</a> {% endblock %}

{% block footer %}

<article>
        <img src="https://www.flaticon.com/svg/static/icons/svg/2358/2358252.svg"/>
        <div class="content">
            <h2>sophie lee</h2>
            co'2021 | <a href="https://github.com/orgs/fruitycoders/people/sophieleeajh">github</a>

        </div>
    </article>

    <article>
        <img src="https://www.flaticon.com/svg/static/icons/svg/2358/2358096.svg"/>
        <div class="content">
            <h2>maggie killada</h2>
            co'2022 | <a href="https://github.com/orgs/fruitycoders/people/maggie3000">github</a>

        </div>
    </article>

    <article>
        <img src="https://www.flaticon.com/svg/static/icons/svg/2358/2358248.svg"/>
        <div class="content">
            <h2>adam holbel</h2>
            co'2022 | <a href="https://github.com/orgs/fruitycoders/people/AdamHolbel">github</a>

        </div>
    </article>

    <article>
        <img src="https://www.flaticon.com/svg/static/icons/svg/2358/2358150.svg"/>
        <div class="content">
            <h2>linda long</h2>
            co'2021 | <a href="https://github.com/orgs/fruitycoders/people/lindalonglong">github</a>

        </div>
    </article>

    <article>
        <img src="https://www.flaticon.com/svg/static/icons/svg/2358/2358323.svg"/>
        <div class="content">
            <h2>wenshi bao</h2>
            co'2022 | <a href="https://github.com/orgs/fruitycoders/people/wenshibao">github</a>

        </div>
    </article>
{% endblock %}