<!DOCTYPE html>
<head>
    {% block head %}
    <link rel="shortcut icon" href="{Favicon}">
    <link rel="alternate" type="application/rss+xml" href="{RSS}">
    <title>fruity photos</title>
    {% endblock %}
</head>
<body>
{% block section %}
    <section>
        <header>
          {% block title %} {% endblock %}
          {% block content %} {% endblock %}
        {% block nav %}
        <nav>
            <a href="/">home</a> .
            <a href="/history">history</a> .
            <a href="/biographies">biographies</a> .
            <div class="dropdown">
                gallery .
                <div class="dropdown-content">
                    <a href="/wong">Russel Wong</a>
                    <a href="/shabazz">Jamel Shabazz</a>
                    <a href="/adams">Ansel Adams</a>
                    <a href="/pretty">Adam Pretty</a>
                    <a href="/leibovitz">Annie Leibovitz</a>
                    <a href="/mccurry">Steve McCurry</a>
                    <a href="/bourke">Margaret Bourke-White</a>
                    <a href="/goldin">Nan Goldin</a>
                    <a href="/newman">Arnold Newman</a>
                    <a href="/mann">Sally Mann</a>
                </div>
            </div>
            <a href="/aboutus">about us</a> .
            <a href="https://github.com/fruitycoders/photography" target="_blank">project repo</a>
        </nav>
        {% endblock %}
        </header>

    {% block footer %}   {% endblock %}
    </section>
{% endblock %}

 </body>
</html>