{% extends "base.html" %}

{% block head %}
{{ super() }}
    <style type="text/css">

* { margin:0;padding:0;box-sizing:border-box; }

@-webkit-keyframes fadein {
  0%   {opacity: 0;}
  100% {opacity: 1;}
}

@-moz-keyframes fadein {
  0%   {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadein {
  0%   {opacity: 0;}
  100% {opacity: 1;}
}

a {text-decoration:none;color:#333;transition:0.15s ease-in;}
a:hover {color:#aaa;}
b,strong {color:#333;}

body {
  background:#fff;
  font-family:'Georgia',serif;
  font-size:12px;
  line-height:175%;
  font-weight:300;
  color:#767676;
  -webkit-animation: fadein 1s;
  -moz-animation: fadein 1s;
  animation: fadein 1s;
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
  font-smoothing:antialiased;
}

section {
  margin:150px;
  width:600px;
}

h1,h2 {
  font-weight:400;
  color:#333;
  margin-bottom:5px;
}

h1 { font-size:20px; }
h2 { font-size:16px; }

<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.dropbtn {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 200px;
}

.dropdown-content a {
  color: #333;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {display: block;}

article {
  margin-top:40px;
  padding-top:40px;
  border-top:1px solid #eee;
  display:block;
  min-height:140px;
}

article img {
  width:100%;
  height:100%;
  border-radius:0%;
  float:left;
  margin:20px;
}

nav { margin-top:5px; }
.content { width:460px; margin-left:140px; }

</style>
{% endblock %}

        {% block title %} <h1>history of photography</h1> {% endblock %}
        {% block content %}  The development of science, art, technology, and creativity have allowed humans to capture fleeting moments of their lives and of history for centuries. Learn more about photography below! {% endblock %}

        {% block footer %}
        <article>
            <img src="https://cdn.britannica.com/03/127503-050-125FD931/Children-scene-camera-obscura-1887.jpg"/>
            <div class="content">
                <h2>Camera Obscura: 500 BCE - 1600 CE</h2>

                The camera obscura was a tool used by some artists made it easy for them to draw or paint realistic landscapes. A simple camera obscura was made of a pinhole that projected a scene in a dark room or box that someone could trace over.

            </div>
        </article>

        <article>
            <img src="https://assets.sutori.com/user-uploads/image/32cc8e07-5945-4706-8bf9-8d455981fb7e/23c2018adc1629d400287290cc77e3ac.jpeg"/>
            <div class="content">
                <h2>Film Development: 1604 - 1827</h2>

                <b>Johannes Kepler</b>, a German astronomer and mathematician, first coined the term "photograph" for a drawing with light in 1604. He was referring to using telescopic optics to project an image onto a canvas to display the stars.

                Astronomers and inventors searched for ways to make paper and/or canvas sensitive to light itself. Glass and metal plates were also used in these experiments to develop what would be known as photographs.

                In 1717, <b>Johann Heinrich Schulze</b> showed that a solution of silver nitrate darkens when exposed to light. The problem now was how to stop the solution from continuing to darken to light, which was basically making the image permanent.

            </div>
        </article>

        <article>
            <img src="https://i.redd.it/h7qk4kvpo0351.jpg"/>
            <div class="content">
                <h2>First Photograph: 1827</h2>

                <i>View from the Window at Le Gras</i> is the earliest surviving photograph. <b>Nicéphore Niépce</b> used a metal sheet with a film of chemicals spread on it to develop it.

            </div>
        </article>

        <article>
            <img src="https://thumbs-prod.si-cdn.com/26yL9pb-iiR_NHZhiWA-YaWenY4=/fit-in/1600x0/https://public-media.si-cdn.com/filer/bd/7d/bd7d625e-d40d-431e-baca-34578201261b/daguerreotype4.jpg"/>
            <div class="content">
                <h2>Daguerreotype: 1839</h2>

                At around this time, the term "photography" began to be more well known. Metal plates known as <b>daguerreotypes</b> began to be more popular as well. These plates made the photographic process easier, but were still messy, expensive, time-consuming, and dangerous.

            </div>
        </article>

        <article>
            <img src="https://qph.fs.quoracdn.net/main-qimg-2bf09626e90d350edcf03794d107b480.webp"/>
            <div class="content">
                <h2>The First Camera: 1841</h2>

                Optical companies such as <b>Zeiss</b> and <b>Leitz</b> began to develop lenses specifically for photography.

                In 1841, <b>Voightlander</b> introduced the very first camera for metal plates.

            </div>
        </article>

        <article>
            <img src="https://static.photocdn.pt/images/articles/2019/12/16/history_of_photography_timeline_6.jpg"/>
            <div class="content">
                <h2>Photojournalism: 1848 - 1865</h2>

                The 1848 Revolutions, the Crimean War of 1853-56, and the American Civil War of 1861-65 led to the art movement of photojournalism.

                Rather than written descriptions or hand-drawn illustrations, artists began to take photos of the actual events during this time period. These images were displayed in public shows, newspapers, and magazines.

            </div>
        </article>

        <article>
            <img src="https://upload.wikimedia.org/wikipedia/commons/b/be/Film_strip.jpg"/>
            <div class="content">
                <h2>Celluloid Roll Film: 1835 - 1887</h2>

                Due to the numerous problems metal plates posed to many photographers, people sought out easier ways to develop images.

                In 1835, <b>Henry Fox Talbot</b> discovered the method of spreading a gelatine emulsion on paper.

                In 1839, <b>John Herschel</b> found a way to fix the recorded image on silver halides.

                These two discoveries were finally used to develop the first photographic film in 1887.

            </div>
        </article>

        <article>
            <img src="https://cdn.theatlantic.com/thumbor/6Pve5doW-oBZRg8dGyLZrz4JyB4=/filters:format(png)/media/img/posts/2016/07/demandc_hron/original.png"/>
            <div class="content">
                <h2>KODAK: 1888</h2>

                <b>George Eastman</b> combined the new roll film with a simple camera. He marketed this product as fun and easy-to-use, and thus began to founding of KODAK Cameras.

                Eastman Kodak was the driving force in the worldwide boom of photography, and they introduced a variety of film types for beginner, hobbyist, and professional photographers.

            </div>
        </article>

        <article>
            <img src="https://www.pbs.org/wgbh/americanexperience/media/filer_public_thumbnails/filer_public/02/6f/026f013d-cb1d-476a-b20f-9d4300002a76/pickford-history-horse_1878.jpg__2000x1240_q85_crop_subsampling-2_upscale.jpg"/>
            <div class="content">
                <h2>Moving Pictures: 1878 - 1900</h2>

                Motion pictures (aka movies) were a fantastic way of capturing subjects in motion.

                Introduced by <b>Eadweard Muybridge</b> in 1878, continuous motion could finally be filmed and displayed on larger screens.

            </div>
        </article>

        </div>
        </article>

        <article>
            <img src="https://assets.sutori.com/user-uploads/image/75e88962-6483-49e2-be81-c05ef49b2689/e38ac3fc1b0a82c99fec802e6332c4d9.jpeg"/>
            <div class="content">
                <h2>35mm Film and the Leica: 1913</h2>

                The most common type of roll film is the 135 format, also known as <b>35m</b>.

                It is often used for motion pictures, as well as miniature still cameras.

                In 1913, <b>Oskar Barnack</b>, an engineer at Leitz, designed a still camera prototype that produced a 24x36mm image frame.

                <b>The Leica I</b> was then introduced later in 1925, and became a huge commercial success.

                The 24x36mm format is still the most produced and most used image format today, even in digital cameras.

            </div>
        </article>

        </div>
        </article>

        <article>
            <img src="https://cameraquest.com/JimLager/Jlager_lit_1950_cameras.jpg"/>
            <div class="content">
                <h2>35mm SLRs: 1957 & 1959</h2>

                The first eye-level viewing single-lens reflex camera with an instant return mirror, known as <b>Pentax</b> was introduced by Asahi Optical Japan.

                The <b>Nikon F</b> was released in 1959. It was a professional-caliber 35mm SLR that featured an array of lenses, motor drives, and extra accessories.

                35mm SLRs are the primary types of cameras used to photographic images.

            </div>
        </article>

        </div>
        </article>

        <article>
            <img src="https://petapixel.com/assets/uploads/2018/10/kodakfujifeattt.jpg"/>
            <div class="content">
                <h2>The Digital Era: 1975 - Present</h2>

                The first digital photograph was taken in 1975 by a Kodak lab.

                Point & shoot cameras were introduced by computer makers and big camera manufacturers in the 80s and 90s.

                From 1989 to the early 2000s, <b>Fuji</b> and <b>Kodak</b> collaborated with <b>Canon</b> and <b>Nikon</b> to develop the first professional digital cameras.

                Even today, we are still exploring the wonderful world of photography, now with even better technology and ideas.

            </div>
        </article>
        {% endblock %}