<!--Iniyaa's page on the website-->
{% extends "p4_comedy/base.html" %}
{% block title %}Knock Knock
{% endblock %}

{% block pagecontent %}
<h1><u>Jokes</u></h1>
<div>
  <ul>
    <h2>Here is a collection from our greatest list of knock knock jokes! These jokes are real knee-slappers, they will make the milk come out of your nose!</h2></>
    <li>Knock knock. Who’s there? Wa. Wa who? What are you so excited about?</li>
    <li>Knock knock. Who’s there? Boo. Boo hoo? Why are you crying?</li>
    <li>Knock knock. Who’s there? Atch. Atch who? Bless you!</li>
    <li>Knock knock. Who’s there? Harry. Harry who? Harry up and answer the door?</li>
    <li>Knock knock. Who’s there? Mikey. Mikey who? Mikey doesn’t fit in the key hole!</li>
    <li>Knock knock. Who’s there? Stopwatch. Stopwatch who? Stopwatch you’re doing and let me in!</li>
    <li>Knock knock. Who’s there? Hike. Hike who? I didn’t know you liked Japanese poetry!</li>
    <li>Knock knock. Who’s there? Yah. Yah who? No, I prefer google.</li>
    <li>Knock knock. Who’s there? Candice. Candice who? Candice joke get any worse?!?!?</li>
    <li>Knock knock. Who’s there? Justin. Justin who? Justin the neighborhood and thought I’d come over.</li>
    <li>Knock knock. Who’s there? Nana. Nano who? Nano your business!</li>
    <li>Knock knock. Who’s there? Double. Double who? W!!!</li>
    <li>Knock knock. Who’s there? Orange. Orange who? Orange you going to open the door?</li>
    <li>Knock knock. Who’s there? Spell. Spell who? Okay, w-h-o.</li>
    <li>Knock knock. Who’s there? Europe. Europe Who? NO. You're a poo!!</li>
    <li>Knock knock. Who’s there? Dishes. Dishes who? Dishes the police! Open up!</li>
    <h2>These ones are for you computer geeks. Here are some of our best programmer jokes!</h2></li>
    <li>Why did the programmer quit his job? Because he didn’t get arrays!</li>
    <li>What did java say to C? You've got no class.</li>
    <li>How many programmers does it take to change a light bulb? None, that's a hardware problem.</li>
    <li>What do cats and programmers have in common? When either one is unusually happy and excited, an appropriate question would be, "Did you find a bug?"</li>
    <li>What is the most used language in programming? Profanity.</li>
  </ul>
</div>

{% endblock %} 

