<html>

<head>
    <!-- College rquirements -->
    <!-- Use of Bootstrap here here -->
    <title>Pokedex </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>



<body>

<div class="container-fluid">

    <div class="row justify-content-end" style="padding-top: 2%; padding-bottom: 2%; padding: 2%;">

        <div class="col-4" style="text-align: left;">

<h1> Go Back to Homepage</h1>
            <a href="https://pokemon-game.aidencizek.repl.co"  target="_blank"
               class="w3-bar-item w3-button w3-padding-large w3-hide-small">click here to go back</a>

        </div>

    </div>
    <h1>Welcome to your pokedex! </h1>
    <p1> This is where you'll be able to search for information on any pokemon.</p1>
    <div>
        <img src="https://giantbomb1.cbsistatic.com/uploads/original/9/99864/2482965-0541340056-new_p.jpg" style="width:40%;min-height:500px;max-height:500px;">

    </div>

    <div class="product" style="margin-top: 2%;">
        <div class="row" style="padding: 0%; padding-top: 0%; padding-bottom: 0%;">

            <div class="col-8" >
                <h1>How to use </h1>
                <p> Search up any pokemon you'd like to gain more information about. </p>
                
<form method="post">

<p style="font-size:16px;font-family:'Serif';">Pokemon Name:</p>
<p>1 = Bulbasaur, 2 = Charmander, 3 = Squirtle, 4 = Growlithe, 5 = Staryu, 6 = Exeggcute</p>
<p><input class="textbox1" type="number" step="1" type="number" name="numb1" required></p> 


<p><input class="submitButton" type="submit" formaction="/pokedex" placeholder="numb1"></p> 
</form>

<div class="w3-display-container w3-animate-opacity">
  <img src="https://cdn.hipwallpaper.com/i/50/91/3RsW2C.png" alt="boat" style="width:150%;min-height:1000px;max-height:2000px;">
   <div class="w3-container w3-display-bottomleft w3-margin-bottom"> 
    
</div>
</html>

