<!DOCTYPE html>
<!--Setting jinja variables -->
<!-- -->
{% set testvar = data["test1"] %}
{% set testvar1 = data1["test2"] %}
{% set testvar2 = data2["picture"] %}
{% set repel1 = data2["repel1"] %}
{% set NumberR = data2["numberR"] %}
<html lang="en">




<head>
    <meta charset="UTF-8">
    <title>Geoguesser</title>
    <link rel="stylesheet" href="/static/style.css/">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
    <body>
    <div class="topnav">
        <b><a href="home">home</a>
            <a class="active" href="geoguesser">Geoguesser</a>
            <a href="history">history</a>
            <a href="covid">covid cases</a>
            <a href="p5">p5 super-cool</a></b>
       </b>
    </div>
    <h1>Refresh page for new image</h1>
    {{testvar}} <!-- Testing if varibles work-->
    {{testvar1}}<!-- Testing if varibles work-->
    {{testvar2}}<!-- Testing if varibles work-->
    {{repel1}}
    {% if testvar == data["test2"]%} <!-- If statement test *it worked*-->
    iftest
    {% endif %}

    {% if repel1 == "1" %}
    number if was 1
    {% endif %}


    <form method="post">
        <p>Continent</p>
        <input name="Continent1">
        <input type="submit" formaction="/{{NumberR}}">
    </form>
<p>{{Continent}}</p>

    <form method="post">
        <p>Country</p>
        <input name="Country1">
        <input type="submit" formaction="/c{{NumberR}}">
    </form>
    <p>{{Country}}</p>

    <form method="post">
        <p>City</p>
        <input name="City1">
        <input type="submit" formaction="/C{{NumberR}}">
    </form>
    <p>{{City}}</p>
    <!--How I get the random image each time -->
    <img src="{{ url_for('p5_supercool_bp.static', filename='2.jpg' ) }}" height="500" width="1000" alt="forest picture">


    </body>
</html>
