<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css/">
    <link href="https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>P5 Super-Cool</title>
</head>
<body style="font-family:'Major Mono Display',Regular">

<div class="topnav">
    <b><a href="home">home</a>
        <a   href="geoguesser">geo guessr</a>
    <a  href="history">history</a>
    <a href="covid">covid cases</a>
    <a class="active" href="p5">p5 super-cool</a></b>
</div>
    <b><a style="text-decoration: none" href="landing"><p class="navheader">p5 super-cool</p></b></a>


    <iframe src="https://docs.google.com/document/d/19IbcI38et-u0yeKwYzs6sULmaWqXDVqczzrYy5UUzUo/edit?usp=sharing" height="400" width="100%">  </iframe>



    <iframe src="https://docs.google.com/document/d/1Ks9-bqfbQikNjhScRSih3HqHgx7TqYHQDyoHHA8gR6k/edit?usp=sharing" height="400" width="100%">  </iframe>



    <iframe height="400" width="100%" src="https://repl.it/@jhunt11111/Stranded-1?lite=true" scrolling="no" frameborder="no" allowtransparency="true" allowfullscreen="true" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals"></iframe>">

</body>
