<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css/">
    <link href="https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>P5 Super-Cool</title>
</head>
<body>
<div class="topnav">
    <b><a href="home">home</a>
        <a href="geoguesser">geo guessr</a>
        <a  href="history">history</a>
        <a href="covid">covid cases</a>
        <a href="p5">p5 super-cool</a></b>
</div>
<b><a style="text-decoration: none" href="landing"><p class="navheader">denmark</p></a></b>

<div class="bg-denmark"></div>
<div class="history-header"><h1><big><b>denmark</b></big></h1></div>
<div class="history-box">
    <h2>Location</h2>
    <p>Denmark is a Scandinavian country comprising the Jutland Peninsula and numerous islands. It's linked to nearby Sweden via the Öresund bridge.</p>

    <h2>Capital</h2>
    <p>Copenhagen: not only the capital of the happiest country on Earth -- officially -- but also probably the center of the designer goods universe.  Copenhagen is situated on the eastern coast of the island of Zealand. Originally a Viking fishing village established in the 10th century in the vicinity of what is now Gammel Strand, Copenhagen became the capital of Denmark in the early 15th century. Since the turn of the 21st century, Copenhagen has seen strong urban and cultural development, facilitated by investment in its institutions and infrastructure.</p>

    <h2>Historical Events</h2>
    <p>1914-18 - Denmark was neutral during World War I.
        1918 - Universal suffrage comes into effect.
        1930s - Welfare state established by governments dominated by social democrats.
        1939 - Denmark signs 10-year non-aggression pact with Nazi Germany.
        1940 - Nazi invasion meets virtually no initial resistance. Government accepts occupation in exchange for measures of control over domestic affairs.
        1943 - A determined campaign by the Danish resistance prompts Germany to take over full control of Danish affairs. Thousands of Danish Jews manage to escape to Sweden.
        1945 - Germany surrenders and occupation ends. Denmark recognises Iceland's independence, which had been declared in 1944.</p>

    <h2>Fun Facts</h2>
    <p>One of the happiest countries in the world. The Danish language has no word for "please". The oldest flag in the world. We don't have any mountains, so biking is never uphill. You'll find the two oldest amusement parks in the world in Denmark.</p>
</div>
</body>