<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css/">
    <link href="https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>P5 Super-Cool</title>
</head>
<body>
<div class="topnav">
    <b><a href="home">home</a>
        <a href="geoguesser">geo guessr</a>
        <a  href="history">history</a>
        <a href="covid">covid cases</a>
        <a href="p5">p5 super-cool</a></b>
</div>
<b><a style="text-decoration: none" href="landing"><p class="navheader">india</p></a></b>

<div class="bg-india"></div>
<div class="history-header"><h1><big><b>india</b></big></h1></div>
<div class="history-box">
    <h2>Location</h2>
    <p>India, officially the Republic of India, is a country in South Asia. It is the second-most populous country, the seventh-largest country by land area, and the most populous democracy in the world.</p>

    <h2>Capital</h2>
    <p>New Delhi is the capital of India and an administrative district of NCT Delhi. New Delhi is also the seat of all three branches of the Government of India, hosting the Rashtrapati Bhavan, Parliament House, and the Supreme Court of India.</p>

    <h2>Historical Events</h2>
    <p>985 CE - 1014 CE. In southern India, Raja Raja I Chola conquered parts of the present-day states of Kerala and Tamil Nadu, Karnataka (north-western areas), northern Sri Lanka and the Maldives. 1014 CE - 1044 CE. Rajendra I Chola completes the conquests of present-day states of Kerala and Tamil Nadu and Sri Lanka. His armies march across north India making conquests, and his navy conquers areas in Southeast Asia.</p>

    <h2>Fun Facts</h2>
    <p>A floating post office. Bandra Worli Sealink has steel wires equal to the earth's circumference. The highest cricket ground in the world. Shampooing is an Indian concept. Water on the moon was discovered by India. The first rocket in India was transported on a cycle. India has a spa just for elephants.</p>
</div>
</body>