<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css/">
    <link href="https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>P5 Super-Cool</title>
</head>
<body>
<div class="topnav">
    <b><a href="home">home</a>
        <a href="geoguesser">geo guessr</a>
        <a  href="history">history</a>
        <a href="covid">covid cases</a>
        <a href="p5">p5 super-cool</a></b>
</div>
<b><a style="text-decoration: none" href="landing"><p class="navheader">iceland</p></a></b>

<div class="bg-iceland"></div>
<div class="history-header"><h1><big><b>iceland</b></big></h1></div>
<div class="history-box">
    <h2>Location</h2>
    <p>Iceland, a Nordic island nation, mainly known for its dramatic landscape with volcanoes, geysers, hot springs and lava fields. Massive glaciers are protected in Vatnajökull and Snæfellsjökull national parks. </p>

    <h2>Capital</h2>
    <p>Most of the population lives in the capital, Reykjavik, which runs on geothermal power and is home to the National and Saga museums, tracing Iceland’s Viking history. Reykjavik stands for smokey bay or bay of smoke. It's among the cleanest, greenest, and safest cities in the world. It’s capital also has one of the lowest poverty rates in the world at .0065 making it one of the wealthiest countries in the world.</p>

    <h2>Historical Events</h2>
    <p>1940 - German forces occupy Denmark. British forces occupy Iceland.
        1941 - The United States takes over the defence of Iceland and stations tens of thousands of troops there.
        1943 - The Treaty of Union with Denmark runs out, with Denmark still occupied by Nazi Germany.
        1944 - Icelanders vote in a referendum overwhelmingly to cut all ties with Denmark and become a republic. The Republic of Iceland is proclaimed on June 17th.
        Iceland becomes a member of Nato.
        1958 - First "Cod War" as Iceland extends its fishing limit to 19 kilometres.</p>

    <h2>Fun Facts</h2>
    <p>Iceland was the last place on earth to be settled by humans. Many Icelanders believe in elves and trolls. You can swim outdoors in hot springs all year round. Iceland has the longest workweeks in Europe. Iceland is one of the most eco-friendly countries in the world. The national colours of Iceland are red, white and blue. The Icelandic horse is the only horse breed in Iceland. The Northern Lights can be seen in Iceland from September to March.</p>
</div>
</body>