<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css/">
    <link href="https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>P5 Super-Cool</title>
</head>
<body>
<div class="topnav">
    <b><a href="home">home</a>
        <a href="geoguesser">geo guessr</a>
        <a  href="history">history</a>
        <a href="covid">covid cases</a>
        <a href="p5">p5 super-cool</a></b>
</div>
<b><a style="text-decoration: none" href="landing"><p class="navheader">united states</p></a></b>

<div class="bg-america"></div>
<div class="history-header"><h1><big><b>america</b></big></h1></div>
<div class="history-box">
    <h2>Location</h2>
    <p>The U.S. is a country of 50 states covering a vast swath of North America, with Alaska in the northwest and Hawaii extending the nation’s presence into the Pacific Ocean. Major Atlantic Coast cities are New York, a global finance and culture center, and capital Washington, DC. Midwestern metropolis Chicago is known for influential architecture and on the west coast, Los Angeles' Hollywood is famed for filmmaking.</p>

    <h2>Capital</h2>
    <p>The United States Capitol, often called the Capitol Building, is the meeting place of the United States Congress and the seat of the legislative branch of the U.S. federal government. It is located on Capitol Hill at the eastern end of the National Mall in Washington, D.C.</p>

    <h2>Historical Events</h2>
    <p>1770s: Declaration of Independence (1776). 1780s: Constitution of the United States of America (1787). 1790s: Whiskey Rebellion (1794). 1800s: Louisiana Purchase (1803).1810s: Battle of New Orleans (1815). 1830s: Era of the Common Man (1829–37). 1850s: Dred Scott Decision (1857). 1860s: Battle of Gettysburg (1863). 1940s: The Atomic Bombing of Hiroshima and Nagasaki (1945).</p>

    <h2>Fun Facts</h2>
    <p>New York was once New Amsterdam. There’s a palace made totally out of corn. The Statue of Liberty speaks French. Alaska was once Russian. The Liberty Bell is from London. There’s a shop inside a dinosaur’s tummy. The Golden Gate Bridge never stops getting a makeover. London Bridge is in Arizona.</p>
</div>
</body>