<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css/">
    <link href="https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>P5 Super-Cool</title>
</head>
<body>
    <div class="topnav">
        <b><a href="home">home</a>
        <a href="geoguesser">geo guessr</a>
        <a  href="history">history</a>
        <a href="covid">covid cases</a>
        <a href="p5">p5 super-cool</a></b>
    </div>
    <b><a style="text-decoration: none" href="landing"><p class="navheader">africa</p></a></b>

    <div class="bg-africa"></div>
    <div class="history-header"><h1><big><b>niger, africa</b></big></h1></div>
    <div class="history-box">
        <h2>Location</h2>
        <p>Niger, officially the Republic of the Niger, is a landlocked country in West Africa named after the Niger River. Niger is bordered by Libya to the northeast, Chad to the east, Nigeria to the south, Benin to the southwest, Mali to the northwest, Burkina Faso to the southwest, and Algeria to the northwest.</p>

        <h2>Capital</h2>
        <p>Niamey is the capital and largest city of the West African country of Niger. Niamey lies on the Niger River, primarily situated on the east bank. Niamey's population was counted as 978,029 as of the 2012 census; the Niamey Capital District, covering 670 km2, had 1,026,848 people.</p>

        <h2>Historical Events</h2>
        <p>Humans have lived in what is now Niger from the earliest times. 2 to 3.5 million-year-old Australopithecus bahrelghazali remains have been found in neighboring Chad. On 11 July 1960 France agreed to Niger becoming fully independent. A transitional government was installed in November 1991 to manage the affairs of state until the institutions of the Third Republic were put in place in April 1993. While the economy deteriorated over the course of the transition, certain accomplishments stand out, including the successful conduct of a constitutional referendum; the adoption of key legislation such as the electoral and rural codes; and the holding of several free, fair, and nonviolent nationwide elections.</p>

        <h2>Fun Facts</h2>
        <p>The Niger River is clear, unlike the Nile. This is due to an absence of silt. The official language is French. This is inherited from the colonial period and serves as an administrative language.The country has eight languages that are also classified as national languages. Niger is considered one of the hottest nations. It is known as the “Frying Pan of the World.” Niger is home to the largest protected area in Africa. It covers  around 7.7 million hectares.</p>
    </div>
</body>
