<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css/">
    <link href="https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>P5 Super-Cool</title>
</head>
<body>
<div class="topnav">
    <b><a href="home">home</a>
        <a href="geoguesser">geo guessr</a>
        <a  href="history">history</a>
        <a href="covid">covid cases</a>
        <a href="p5">p5 super-cool</a></b>
</div>
<b><a style="text-decoration: none" href="landing"><p class="navheader">greece</p></a></b>

<div class="bg-greece"></div>
<div class="history-header"><h1><big><b>greece</b></big></h1></div>
<div class="history-box">
    <h2>Location</h2>
    <p>Greece, which is located in southeastern Europe with thousands of islands throughout the Aegean and Ionian seas. Very influential throughout all ancient times, it's often called the cradle of Western civilization.</p>

    <h2>Capital</h2>
    <p>Greece’s capital, Athens was the heart of Ancient Greece, a powerful civilization and empire. The city is still dominated by 5th-century BC landmarks, including the Acropolis, a hilltop citadel topped with ancient buildings like the colonnaded Parthenon temple. The Acropolis Museum, along with the National Archaeological Museum, preserves sculptures, vases, jewelry and more from Ancient Greece all showcasing Greece’s power in ancient times.</p>

    <h2>Historical Events</h2>
    <p>Greece hosted many historical wars due to being within close proximity to the romans and spartans. 1250 BC The trojan war began. This war began when the trojans abducted Greece’s prince, Helen away. After nine long years the Trojans finally defeated Greece and returned their prince. This war introduced a few Greek heroes like Ajax, Achilles, Odysseus, and Nestor. In 146 BC the Greeks fought their final battle. The Romans began by invading the Greek peninsula then pushing further in Greece. Trying to remain independent the Greeks fought back just to be slaughtered, ending the rule of Greece.</p>

    <h2>Fun Facts</h2>
    <p>Greece is also known for its beaches, from the black sands of Santorini to the party resorts of Mykonos. Greece introduced coin currency in 600 BC showcasing their current king Croesus. These coins were made of gold and silver. The bubonic plague also known as the Athens plague, ravaged Greece and stunted economic growth for years to come.</p>
</div>
</body>