<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css/">
    <link href="https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>P5 Super-Cool</title>
</head>
<body>
<div class="topnav">
    <b><a href="home">home</a>
        <a href="geoguesser">geo guessr</a>
        <a  href="history">history</a>
        <a href="covid">covid cases</a>
        <a href="p5">p5 super-cool</a></b>
</div>
<b><a style="text-decoration: none" href="landing"><p class="navheader">brazil</p></a></b>

<div class="bg-brazil"></div>
<div class="history-header"><h1><big><b>brazil</b></big></h1></div>
<div class="history-box">
    <h2>Location</h2>
    <p>Brazil, officially the Federative Republic of Brazil, is the largest country in both South America and Latin America. At 8.5 million square kilometers and with over 211 million people, Brazil is the world's fifth-largest country by area and the sixth most populous.</p>

    <h2>Capital</h2>
    <p>Rio de Janeiro is a huge seaside city in Brazil, famed for its Copacabana and Ipanema beaches, 38m Christ the Redeemer statue atop Mount Corcovado and for Sugarloaf Mountain, a granite peak with cable cars to its summit. The city is also known for its sprawling favelas (shanty towns).</p>

    <h2>Historical Events</h2>
    <p>Europeans caused the death of many indigenous tribes. Europeans brought with them diseases that natives could not fight with due to their lack of immunity. Diseases like smallpox, measles, gonorrhea, tuberculosis, and influenza killed tens of thousands of indigenous people. In the early 18th century, Portugal was not doing too well after years of wars against Spain and the Netherlands, but had the chance to discover gold in Brazil. A gold rush started immediately, and the region where gold was extracted became known as the Minas Gerais (General Mines). Pedro II was removed from power on November 15, 1889, by a Republican military coup led by General Deodoro da Fonseca, who became Brazil’s first president. The country was named Republic of the United States of Brazil, to be changed to Federative Republic of Brazil in 1967. However, it took a while until the country became a democracy.</p>

    <h2>Fun Facts</h2>
    <p>Brazil is the largest country in South America. The name Brazil comes from a tree named brazilwood. It is called Brasil in Portuguese, the official language spoken in Brazil. Brazil covers 3 time zones. Brazil has one of the largest economies in the world. Around 60% of the Amazon Rainforest is located in Brazil. The climate in the majority of Brazil is tropical. There are around 2500 airports in Brazil. Football (soccer) is the most popular sport in Brazil with the national team consistently among the best in the world, winning the World Cup a record 5 times.</p>
</div>
</body>