#team-pic {
      width: 100px;
      float: center;
      margin: 10px;
  }
#headerOne {
        
  top: 10px;
  padding: 80px ;
  text-align: center;
  color: #b32400;
      
}
.center{
  float: center;
  margin: auto;
  text-align: center;
  color: #b32400;
  font-size: 60;
}
#tableOne {
      
      top: 70px;
      padding: 10px ;  
      margin: auto;
      text-align: center;
      
}
#tableTwo {
      
      top: 90px;
      padding: 10px ; 
      margin: auto;
      text-align: center;
      
}
.pairShareOne{
  background-color: rgb(88, 189, 214);
}
.pairShareTwo{
  background-color: rgb(250, 226, 165);
}
html, body {
  margin: 0;
  height: 100%;
  color: green;
}

h1{
  font-size: 2.6em;
}


.fa{
  font-size: 1em;
  letter-spacing: 1em;
  transition: all .2s;
  color: green;
}
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all .2s;
  position: absolute;
  color: #4169e1;
  font-size: 0.75em;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 20px 40px rgba(255, 255, 255, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(255, 255, 255, 0.2);
}
p {
  text-align: center;
  font-size: -1em
}
col-4 {
  font-size: -3em
}

#background {
  right-margin: auto;
  left-margin: auto;
  width: 100%;
  z-index: -10;
  top: 50%;
  float: left;
  position: absolute;
}