{% extends "p5_calculus/base.html" %}
{% block title %}AkaTeam | Calculator{% endblock %}

<!--
This following code gives the link then gives the image source.
-->
{% block content %}
<body>
  <center>
    <div class="card" style="width: 18rem;">
      <img src="https://upload.wikimedia.org/wikipedia/commons/c/cf/Casio_calculator_JS-20WK_in_201901_002.jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title"> Calculator</h5>
        <p class="card-text">This is a product-rule calculator</p>
        <a href="https://repl.it/join/ajmfnqwb-akprathipati" class="btn btn-primary" target="_blank">Link</a>
      </div>
    </div>
        <div class="card" style="width: 18rem;">
      <img src="https://upload.wikimedia.org/wikipedia/commons/c/cf/Casio_calculator_JS-20WK_in_201901_002.jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Derivative/Intrgral Calculator</h5>
        <p class="card-text">This is a derivative/integral calculator</p>
        <a href="https://repl.it/@KaramAlshaikh/Derivativeintegral-calculator#main.py" class="btn btn-primary" target="_blank">Link</a>
      </div>
    </div>
  </center>
</body>
{% endblock %}

<!-- https://repl.it/@KaramAlshaikh/Derivativeintegral-calculator#main.py
-->