{% extends "p5_calculus/base.html" %}
{% block title %}AkaTeam | Journals{% endblock %}

{% block content %}
<body>
  </br>
  </br>
  </br>
  </br>
  <!-- code 11-14 creates the positions for the cards -->
  <div class="container px-lg-5">
    <div class="row mx-lg-n5">
      <div class="col py-3 px-lg-5">
        <div class="card" style="width: 18rem;">
          <!-- image source -->
          <img src="https://www.teachingenglish.org.uk/sites/teacheng/files/styles/large/public/images/class_journals_iStock_000021675732XSmall.jpg?itok=eRUojT6a" class="card-img-top">
          <!-- card code -->
          <div class="card-body">
            <h5 class="card-title">Ak and Noya</h5>
            <p class="card-text">This is Ak's and Noya's Journal</p>
            <a href="https://docs.google.com/document/d/12e0t50bgS-q9Nye2LspMzOyFSlScJnUHTkQf2siAjQw/edit?usp=sharing" class="btn btn-primary" target="_blank">Link</a>
          </div>
        </div>
      </div>
      <div class="col py-3 px-lg-5">
        <div class="card" style="width: 18rem;">
          <!-- image source -->
          <img src="https://www.teachingenglish.org.uk/sites/teacheng/files/styles/large/public/images/class_journals_iStock_000021675732XSmall.jpg?itok=eRUojT6a" class="card-img-top">
          <!-- card code -->
          <div class="card-body">
            <h5 class="card-title">Akhil, Karam, and Max</h5>
            <p class="card-text">This is Akhil's, Karam's and Max's Journal</p>
            <a href="https://docs.google.com/document/d/1y2lwqai4k3cJUoh604DfrBu3ciog4cgj861_o0HAIAg/edit?usp=sharing" class="btn btn-primary" target="_blank">Link</a>
          </div>
        </div>
      </div>
  </div>
</body>
{% endblock %}