{% extends "p5_calculus/base.html" %}
{% block title %}AkaTeam | Videos{% endblock %}

{% block content %}
<body>
  <center>
    </br>
    </br>
    <!-- link -->
    <a href="https://www.youtube.com/channel/UC1TMB_psmsWEBlahXNxl0oA?view_as=subscriber" target="_blank"> 
    <!-- image source -->
    <img src="https://lh3.googleusercontent.com/3zkP2SYe7yYoKKe47bsNe44yTgb4Ukh__rBbwXwgkjNRe4PykGG409ozBxzxkrubV7zHKjfxq6y9ShogWtMBMPyB3jiNps91LoNH8A=s500" width="1000" height="526"> </a>
  </center>
</body>
{% endblock %}

<!--
Link1: https://www.youtube.com/channel/UC1TMB_psmsWEBlahXNxl0oA?view_as=subscriber

Link2: https://lh3.googleusercontent.com/3zkP2SYe7yYoKKe47bsNe44yTgb4Ukh__rBbwXwgkjNRe4PykGG409ozBxzxkrubV7zHKjfxq6y9ShogWtMBMPyB3jiNps91LoNH8A=s500
-->