<html>

<head>
<title>Healthy Dinners</title>
</head>

<body>

  
  <h1 style="color:blue;">Healthy Dinner</h1>

  <p>All healthy dinner alternatives are here. Please click on the links to view the recipes. </p>

  
                    <h6> If you want to go back to the home page, please click the home below.</h6>

                    <a 
                    href="/" target="_blank"><i class="fa fa-home"></i>RETURN HOME</a>
 
                </div>

            </div>

                      
                </div>

            </div>
            
 {% for dinner in dinners%}

  <h2>{{ dinner.name }}</h2>

  {% endfor %}


     <div class="row" style="padding-left: 0%;">
                  <div class="col-4">
                    <img src="{{ url_for('static', filename='roastedveggiepasta.jpg') }}" width="300" height="221">
                      <a href="https://www.loveandlemons.com/easy-dinner-ideas/#wprm-recipe-container-42169" class="btn">Roasted Vegetable Pasta</a>
                      <p> Roasted Vegetable Pasta is an amazing option for a healhty dinner. Not only does it include wonderful veggies that supply nutrients AND are tasty, but it also comes with delicious, guilt free pasta. This is one of Coder Joe's favorite recipes. <p>

  <div class="row" style="padding-left: 0%;">
                  <div class="col-4">
                    <img src="{{ url_for('static', filename='split-pea-soup-5.jpg') }}"width="300" height="221">
                      <a href="https://www.cookingclassy.com/split-pea-soup/" class="btn">Split Pea Soup</a>
                      <p> This Split Pea Soup recipe is very filling and a great way to end the day. We take pride in our healthy options, and this split pea soup is a delicious and rewarding dinner that is easy to make. Click the link for more info! <p>

 

</body>


</html>