<!DOCTYPE html>
<html lang="en">
<head>
	<link href="https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css/">
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/> 
	<title>P5 Super-Cool</title>

</head>
<body>
<video class="video-bg" loop muted autoplay >
	<source  src="/static/Globe.mp4" type="video/mp4" >
</video>
<center><h1><a style="font-family: 'Major Mono Display',Regular ;" href="home" class="TransText landing-header">geo-guessr</a></h1></center>

</body>
</html>
