<!DOCTYPE html> <!-- this file will contain the nav bar and -->
<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="utf-8">
    <title>Title</title>
    <link href="style.css" rel="stylesheet" type="style/css" />
  </head>

  <body>
    <!-- Navigation Bar from bootstrap -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">{{name}}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

        <div class="navbar-nav">
          <a class="nav-link active" href={{url_for('.home')}}>Home Page</a>
          <!--<a class="nav-link code" style="color:red; margin:auto; text-align: center;" href="/project/chessMenu/" >Click-Me: Play Chess</a>-->
          <!--<a class="nav-link active" href="https://repl.it/@colinszeto/Group-Portfolio#templates/home.html">Coding Area </a>-->
          <!--
          <a class="nav-link" href={{url_for('.chessJS')}}>Chess with JS</a>
          <a class="nav-link" href={{url_for('.journals')}}>Journals</a>
          <a class="nav-link" href={{url_for('.chessPush')}}>Chess Final Push</a>
          <a class="nav-link" href={{url_for('.addition')}}>Addition</a>
          -->
          <!--<a class="nav-link" href="yourName">What is my Name?</a>-->
          <a class="nav-link" href="https://github.com/kolinbilly/Group-Portfolio/blob/master/README.md"></a>
          <!--<a class="nav-link" href="chessEmbed"></a>-->

        </div>
      </div>
    </nav>
    {% block content %}{% endblock %}
  </body>
</html>