{% extends "p5_chessGame/base.html" %}

{%block content %}
<html>
    <head>
        <title>P5 Group ASCII Chess| Home </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta charset="utf-8">
        <link rel="stylesheet" href="/static/style.css">

    </head>

<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
    


    <body style="background-color:black;">

      <h1 style = "color: yellow; font-size: 70px; padding-bottom: 50px">CHESS OO 2.0<h1>
      <p style = "color: white; text-decoration: underline;"> Group Members </p>
      <p style = "color: white;"> Colin Szeto, Kyle Myint, David Kim, Shekar Krishnamoorthy, Devam Shrivastava </p>
      <p> </p>
      <p> </p>
      <p style = "color: white;"> Link to group plan: <a target = "_blank" href="https://docs.google.com/document/d/1ktGsDPl07wBa6YQvsGDCKAi1Bpz_exLEj0Y3ASh-fK0/edit">Project Doc</a></p>
          <p style = "color: white;"> Link to github: <a target = "_blank" href="https://github.com/kolinbilly/Group-Portfolio/blob/master/README.md">Project Doc</a></p>

          <a class="nav-link code" style="font-size: 100px; color:red;padding-top: 0px; text-align: center;" href="/project/chessMenu/" >Click-Me: Play Chess</a>


          <img id = "background" src= "https://cdn.discordapp.com/attachments/763494337798471721/770163622549651486/most_expensive_chess_board_ever.png" alt = "expensive chess set">

    </body>      
{% endblock %}