{% extends "p5_chessGame/base.html" %}

{%block content %}
<html>

  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/style.css">
  </head>
    <body style="background-color:aquamarine;">

      
      

      <table id = "tableOne"style="width:80%">
        <tr>
          <th class = "pairShareOne">Pair Share 1</th>
          <th class = "pairShareTwo">Pair Share 2</th> 
        </tr>
        <tr>
          <th class = "pairShareOne"><a target = "_blank" href="https://padlet.com/kolinszeto/ir8kqoip55dsdu2d">Journal of Pair</a></th>
          <th class = "pairShareTwo"><a target = "_blank" href="https://docs.google.com/document/d/1i08SNwkyA_2TCnJiLZWBPMQ7OCMuU5pGo1s7aEEmmCI/edit?pli=1">Journal of Pair</a></th> 
        </tr>


      <table id = "tableTwo"style="width:80%">
        <tr>
          <th class = "pairShareOne">Colin Szeto</th>
          <th class = "pairShareOne">Devam Shrivastava</th> 
          <th class = "pairShareOne">Shekar Krishnamoorthy</th>  

          <th class = "pairShareTwo">Kyle Myint</th>
          <th class = "pairShareTwo">David Kim</th> 
        </tr>
        <tr>
          <th><a class = "pairShareOne" target = "_blank" href="https://repl.it/@colinszeto/Python-Web-Portfolio-Series#templates/home.html">{{ repl }}</a></th><!-- Colin Szeto -->
          <th><a class = "pairShareOne" target = "_blank" href="https://repl.it/@D3vIs4G0d/flaskportfolio#templates/home.html">{{ repl }}</a></th><!-- Devam Shrivastava -->
          <th><a class = "pairShareOne" target = "_blank" href="https://repl.it/@shekark642/flaskportfolio-1">{{ repl }}</a></th><!-- Shekar Krishnamoorthy -->
          <th><a class = "pairShareTwo" target = "_blank" href="https://repl.it/@KyleMyint/Web-Portfolio#main.py">{{ repl }}</a></th><!-- Kyle Myint -->
          <th><a class = "pairShareTwo" target = "_blank" href="https://repl.it/@Ironfire/flaskportfolio-1#templates/home.html">{{ repl }}</a></th><!-- David Kim -->
        </tr>
        <tr>
          <th><a class = "pairShareOne" target = "_blank" href="https://python-web-portfolio-series.colinszeto.repl.co/">{{ website }}</a></th><!-- Colin Szeto -->
          <th><a class = "pairShareOne" target = "_blank" href="https://flaskportfolio.d3vis4g0d.repl.co/">{{ website }}</a></th><!-- Devam Shrivastava -->
          <th><a class = "pairShareOne" target = "_blank" href="https://flaskportfolio-1.shekark642.repl.co/">{{ website }}</a></th><!-- Shekar Krishnamoorthy -->
          <th><a class = "pairShareTwo" target = "_blank" href="https://web-portfolio.kylemyint.repl.co/">{{ website }}</a></th><!-- Kyle Myint -->
          <th><a class = "pairShareTwo" target = "_blank" href="https://flaskportfolio-1.ironfire.repl.co/">{{ website }}</a></th><!-- David Kim -->
        </tr>
      </table>
      <div class="container-fluid">
        <div class="product" style="margin-top: 5%;">
          <p class = "center"> Repls </p>

        <div class="row" style="padding-left: 5%;">
          <div class="col-4">
            <a href="https://repl.it/@KyleMyint/ASCII-Chess#main.py" class="btn">ASCII Chess v.1</a>
          </div>

          <div class="col-4">
            <a href="https://repl.it/@colinszeto/ChessOO#piecedefinitions.py" class="btn">ASCII Chess v.2</a>
          </div>

          <div class="col-4">
            <a href="https://repl.it/@KyleMyint/Advanced-Tictactoe-game#main.py" class="btn">Advanced Tic Tac Toe</a>
          </div>

          <div class="col-4" style="top:100px">
            <a href="https://repl.it/@KyleMyint/Advanced-Tictactoe-game#main.py" class="btn">Advanced Tic Tac Toe</a>
          </div>
    </style>

{% endblock %}