<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}

{% block head %}
<title>{{name}} | Flask </title>
{% endblock %}

<!-- Project Information -->
{% block title %}
<h1>Flask Project</h1>
{% endblock %}

{% block link1 %}
<a href="http://nighthawkcoders.cf/courses/python/" class="btn">Project Plan</a>
{% endblock %}
{% block link2 %}
<a href="https://repl.it/@jmort1021/Web-Portfolio-Series#main.py" class="btn">Repl</a>
{% endblock %}
{% block link3 %}
<a href="https://padlet.com/jmortensen7/csptime1_2" class="btn">Resources</a>
{% endblock %}