<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel='stylesheet' href="/static/styles/base.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="shortcut icon" href="/static/assets/finalncslogo.png"
          type="image/x-icon">
    <link rel="icon" href="/static/assets/finalncslogo.png"
          type="image/x-icon">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-176812433-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-176812433-1');
    </script>



    <title>DNHS Computer Science</title>

</head>
<body>
<!--Navbar-->
<nav class="navbar navbar-light navbar-1 white">

    <!-- Navbar brand -->

    <!-- Collapse button -->

    <div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent15"
                aria-controls="navbarSupportedContent15" aria-expanded="false" aria-label="Toggle navigation" style="font-size: xx-large; border: 0em;"><span class="navbar-toggler-icon"></span>
        </button>


        <a class="navbar-brand" href="/" style="font-family: gilroyXB; font-size: xx-large; color: var(--gray);">
            <img src="https://static.hudl.com/users/temp/3810370_e7a57bba12ae4ded938d751e12dfc9c6.jpg" width="50" height="50" class="d-inline-block align-center" alt="">
            DNHS Computer Science Projects
        </a>


    </div>




    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent15">

        <!-- Links -->
        <div class="navbar-nav" style="font-size: large;">
            <a class="nav-link courses" href="/peirod1/">Period 1</a>
            <a class="nav-link products " href="/period2/">Period 2</a>
            <a class="nav-link donate" href="/period4/">Period 4</a>
            <a class="nav-link about" href="/period5/">Period 5</a>
            <a class="nav-link donate" href="/about/">About</a>

        </div>
        <!-- Links -->


    </div>
    <!-- Collapsible content -->



</nav>
<!--/.Navbar-->

<div>
{% block link1 %}
{% endblock %}
</div>

</body>
<script src="https://code.jquery.com/jquery-3.2.1.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>
