{% extends "navbar.html" %}

{% block head %}
<title>{{name}} | Period 4</title>
{% endblock %}

<!-- Period 2 Project links -->
{% block title %}
<h1>Period 4 Projects</h1>
{% endblock %}


{% block link1 %}
<a href="https://repl.it/join/entspfxi-ibraskyy" class="btn">Who Wants to be a Millionaire<h6>Sriya, Sam, Francis, Bryce, Quentin </h6></a>
{% endblock %}
{% block link2 %}
<a href="Guesser game" class="btn">Guesser Game<h6>Lola, William, Brayden, Grace, Ryan</h6></a>
{% endblock %}
{% block link3 %}
<a href="https://photography.fruitycoders.repl.co/" class="btn">Photography Web <h6>Pragadeesh, Ayman, Ali, Brandon, Navodit</h6></a>
{% endblock %}
{% block link4 %}
<a href="https://repl.it/@lukemanning224/P4bang#README.md " class="btn">Monkey Math<h6>Nathaniel, Aiden, Ryan, Luke, and Jaideep</h6></a>
{% endblock %}
{% block link5 %}
<a href="https://repl.it/@AbhijayDeevi/TableOfContents" class="btn">Casino Game<h6>Abhijay, Kevin, Travis, Paul, Gavin</h6></a>
{% endblock %}
{% block link6 %}
<a href="https://repl.it/@Ryanshay18/ResponsibleFastDesignmethod#README.md" class="btn">Mad Libs<h6>Ava, Ketki, Iniyaa, Lucas, Ryan</h6></a>
{% endblock %}