<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Playground</title>
</head>
<body style="background-color:powderblue;color:white;">
    <h1>Hey, Hey, Heading! background is powderblue, text is white</h1>
    <h2>" Hey, Hey, Hey! <span style='color:orangered;'>madlib</span> style "</h2>
    <p><span style='color:midnightblue;'><b>As a High School student I learned to type on a typewriter.  </b>"Now is the time for all good men to come to the aid of their party." This is a phrase first proposed as a typing drill by instructor Charles E. Weller; its use is recounted in his book The Early History of the Typewriter, p. 21 (1918). Frank E. McGurrin, an expert on the early Remington typewriter, used it in demonstrating his touch typing abilities in January 1889. It has appeared in a number of typing books, often in the form "Now is the time for all good men to come to the aid of their country. IMO, McGurrin would need to make an abridgement of this phrase today to, "Now is the time for all good <span style='color:orangered;'>individuals</span> to come to the aid of their country." A thought from my past, as we <b>get ready to vote</b>!<span></span></p>
</body>
</html>