{% set embed = data["embed"] %}
{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
    <h1>Games</h1>
    <p class="important">
      Welcome to the History of Hangman!
    </p>

    <p class="important">
        Hangman is a paper and pencil guessing game for two or more players. One player thinks of a word, phrase or sentence and the other(s) tries to guess it by suggesting letters within a certain number of guesses. (Wikipedia)
    </p>

    <p class="important">
        Though the origins of the game are unknown, a variant is mentioned in a book of children's games assembled by Alice Gomme in 1894 called Birds, Beasts, and Fishes.[1] This version lacks the image of a hanged man, instead relying on keeping score as to the number of attempts it took each player to fill in the blanks. (Wikipedia)
    </p>

    <p class="important">
        The word to guess is represented by a row of dashes, representing each letter of the word. In most variants, proper nouns, such as names, places, and brands, are not allowed. Slang words, sometimes referred to as informal or shortened words, are also not allowed. If the guessing player suggests a letter which occurs in the word, the other player writes it in all its correct positions. If the suggested letter does not occur in the word, the other player draws one element of a hanged man stick figure as a tally mark. (Wikipedia)
    </p>

    <h1>Gameplay</h1>

    <p class="important">
        The fact that the twelve most commonly occurring letters in the English language are e-t-a-o-i-n-s-h-r-d-l-u (from most to least), along with other letter-frequency lists, are used by the guessing player to increase the odds when it is their turn to guess. On the other hand, the same lists can be used by the puzzle setter to stump their opponent by choosing a word that deliberately avoids common letters (e.g. rhythm or zephyr) or one that contains rare letters (e.g. jazz).

        Another common strategy is to guess vowels first, as English only has five vowels (a, e, i, o, and u, while y may sometimes, but rarely, be used as a vowel) and almost every word has at least one. (Wikipedia)
    </p>



     <h1>COVER</h1>
    <p class="important">
      <img src=https://scontent-lax3-1.xx.fbcdn.net/v/t1.0-1/c32.0.281.281a/18855_272668808374_3379066_n.jpg?_nc_cat=109&ccb=2&_nc_sid=dbb9e7&_nc_ohc=KTPxkHAp2JoAX92pLzq&_nc_ht=scontent-lax3-1.xx&oh=b20ae1154e06cc548b124335d72af416&oe=5FBC4DBF alt="W3Schools.com" style="width:344px;height:281px;;">
    </p>

    <div class="embed-responsive embed-responsive-4by3">
        <iframe class="embed-responsive-item" src={{embed}} style="width:640px;height:500px;"></iframe>
    </div>
{% endblock %}
  