
{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
    <h1>Games</h1>
    <p class="important">
      Welcome to the History of Games!
    </p>

    <p class="important">
      Please select a game to know its history and impact on society.
    </p>
    
    <p class="important">
      <img src=https://images.unsplash.com/photo-1511512578047-dfb367046420?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80 alt="W3Schools.com" style="width:1000px;height:667px;">
    </p>
<!-- Nathan worked on the home page and found the template for the whole website on W3 -->

{% endblock %}








