{% extends "base.html" %}
{% block title %}Brent's Goals{% endblock %}
{% block content %}
    <h1>Brent's Goals!</h1>

    <p class="font-weight-normal">Self-Grading: 2/5</p>
    <p class="font-weight-light">Didn't contribute nearly as much as I could, but did involve myself in the process of
        understanding Flask and IntelliJ</p>

    <p class="font-weight-light">Scrum Master Grade: 3/5></p>

    <p class="font-weight-light">1 - Stray away from Repl.it</p>

    <p class="font-weight-light">2- Get at least 1 game working</p>

    <p class="font-weight-light">3 - learn IntelliJ and Github </p>

{% endblock %}