{% extends "base.html" %}
{% block title %}Github{% endblock %}
{% block content %}
    <h1>Calvins's Goals!</h1>
    <p class="font-weight-normal">Self-Grading: 3/5</p>
    <p class="font-weight-light">Contributed on GitHub and helped debug the code for the home webpage. </p>

    <p class="font-weight-normal">Scrum Leader Grading: 3/5</p>
    
    <p class="font-weight-light">1 - Figure out how Splashtop Application Works</p>
    <p>The week allowed me to ditch Splashtop as a whole application. After many disconnects and unstable connections, the application is not suitable for use. Instead, an older configuration of Python was used in Intellj. Since it is an older vesion, Intellj has issues running the program.</p>
    
    <p class="font-weight-light">2 - Figure out how IntelliJ and Github Work</p>
    <p>Intellj has been a very useful tool to make edits. There are minor issues but they are able to be worked around eventually. They will not affect the overall products I will deliver. This week, I used Intellj to do responsive and static images. I created 5 images with the widths in pixels. When you refresh the browser and change the width of the screen, a different number on the top left should appear to fit the width</p>
{% endblock %}
