{% extends "base.html" %}
{% block title %}Eshaan's Goals{% endblock %}
{% block content %}
    <h1>Eshaan's Goals!</h1>
    <p class="font-weight-normal">Self-Grading: 4/5</p>
    <p class="font-weight-light">Figured out how to work IntelliJ and GitHub properly, but didn't update my
    journal daily.</p>

    <p class="font-weight-normal">Scrum Master Grading: 4/5 </p>

    <p class="font-weight-light">1 - Began to debug PacMan</p>
    <p class="font-weight-light">2 - Figured out how to connect IntelliJ and Repl via GitHub</p>
    <p class="font-weight-light">3- Started to transfer my platform from Repl to IntelliJ</p>
    <p class="font-weight-light">4- Starting to figure out how to create a link for PacMan to attach to home webpage</p>
{% endblock %}