{% extends "base.html" %}
{% block title %}Flask Website Project Plan{% endblock %}
{% block content %}
<div class="text-center">
    <h1 class= "text-center">Project Plan</h1>
    <iframe height="550px" width="70%" src="https://docs.google.com/document/d/1eBgE4SZKjJSPiQAgvamVGXAs8vmIWPWzyyUT6sc_re0/edit" scrolling="no" frameborder="no" allowtransparency="true" allowfullscreen="true" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals"></iframe>
    <h1 class= "text-center">Playgrounds</h1>
    <a href="/playgrounds" class="btn btn-outline-dark" style="background-color: #FFFFF;" role="button">Playgrounds</a>
</div>
{% endblock %}