{% extends "base.html" %}
{% block title %}Trivia Game{% endblock %}
{% block content %}
    <div class="text-center">
        <h1 class= "text-center">Kaila and Calvin's Journal</h1>
        <iframe height="550px" width="70%" src="https://docs.google.com/spreadsheets/d/11BmmDac-fK0ftirs02PaSxCZNWLQsGd4d6JV316jh-s/edit#gid=2115941905" scrolling="no" frameborder="no" allowtransparency="true" allowfullscreen="true" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals"></iframe>
        <h1 class= "text-center">Eshaan and Brent's Journal</h1>
        <iframe height="550px" width="70%" src="https://docs.google.com/document/d/1HVCWqgJ85RCMZKAFeyqkLJVA_McAWtkpdoa7N0rn8X8/edit?usp=sharing" scrolling="no" frameborder="no" allowtransparency="true" allowfullscreen="true" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals"></iframe>
    </div>
{% endblock %}