{% extends "base.html" %}
{% block title %}Playgrounds{% endblock %}
{% block content %}
  <h1>Playgrounds</h1>
  <button type="button" class="btn btn-secondary btn-lg btn-block" value="Input Button" onclick=" relocate_playgroundone()">

  <script>
  function relocate_playgroundone()
  {
    location.href = "https://repl.it/@KailaManangan/test#templates/login.html";
  } 
</script>Kaila's Website Playground</button>
  <button type="button" class="btn btn-secondary btn-lg btn-block" value="Input Button" onclick=" relocate_playgroundtwo()">

  <script>
  function relocate_playgroundtwo()
  {
    location.href = "https://repl.it/@KailaManangan/More-testing-out-repl#main.py";
  } 
</script>Kaila's Image Website Test</button>
 <button type="button" class="btn btn-secondary btn-lg btn-block" value="Input Button" onclick=" relocate_playgroundthree()">

  <script>
  function relocate_playgroundthree()
  {
    location.href = "https://repl.it/@eshuansauce/Pac-Man#app_class.py";
  } 
</script>Eshaan's Pacman Playground (unfinished)</button>
 <button type="button" class="btn btn-secondary btn-lg btn-block" value="Input Button" onclick=" relocate_playgroundfour()">

  <script>
  function relocate_playgroundfour()
  {
    location.href = "https://repl.it/@eshuansauce/Webpage#main.py";
  } 
</script>Eshaan's Webpage Playground</button>
{% endblock %}