<!DOCTYPE html>
<html lang="en">
{% extends "aboutus.html" %}

{% block individual %}
<h2>{{name}}</h2>
<h4>{{grade}}</h4>
<h4>{{about}}</h4>
<h4>{{contributions}}</h4>
<iframe src="https://drive.google.com/file/d/1slSQRgr4f-45XepZ7cV6qUiJPMePAeAr/preview" width="640" height="480"></iframe>
<iframe src="https://docs.google.com/document/d/e/2PACX-1vRwWjZVRRol_46ai6VXLCuyaX_ErUkQesnFHJGr71u69XF3Ui-ZqrGDX65DhJCEhuKkQB6L8fFb8hm0/pub?embedded=true" width="640" height="480"></iframe>
<iframe src="https://docs.google.com/document/d/e/2PACX-1vQAXfQESn4cbxnx1JE34UJrYlhYupde-2ayLMNPO_tOyFuFPygAqInDB4LDvAkO9FWGfGBO91CYCVhN/pub?embedded=true" width="480" height="480"></iframe>
<iframe src="https://docs.google.com/presentation/d/e/2PACX-1vS-mjDz6w4c2LMpB6CuRTTs4H27Y9W4OOgj4oOMM876-gDyntnpXDPwy9dwYVPufNYDSVjOBZoV0NXO/embed?start=true&loop=false&delayms=3000" frameborder="0" width="640" height="379" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
<iframe src="https://docs.google.com/document/d/e/2PACX-1vQYVGVXKAYRzmehNcz5VAK2qq0f--4mmBd_jzrMVBBw9xW8S7EctWlfdz0iBHub8ZfVNNwG2eSB-KlK/pub?embedded=true" width="480" height="480"></iframe>
{% endblock %}
</html>