<body>
   <div class="col-9" >
    <h1>Contents of Our Website:</h1>
  </div>
  <div class="product" style="margin-top: 2%;">
    <div class="row" style="padding: 10%; padding-top: 0%; padding-bottom: 5%;">  <div class="col-5" style="text-align: left;">  
          <h5>Project: Rap Name Generator</h5>
          <h5> This project showcases our knowledge in the fundamentals of Python. In order to use this, the user is asked a series of questions they must answer. Their final answer is used in determining their determining their rap name. We have incorporated dictionaries,menus, loops,lists, try/except, integers, and more.</h5>
          <h5>We have also included buttons that lead users to a links of our team's project plans, the Repl.it, and other resources available to understand the basics of Python.</h5>
          
          <h5>Project: Flask Portfolio </h5>
          <h5> This project is a accumulation of our work thus far. It includes the Rap Name Generator and this project, the Flask Portfolio. We had to learn to code using html for this project which was very different. html allows for more creativity in our project from the format of the website to the theme of the website.</h5>
          <h5> We have also included buttons that lead users to a links of our team's project plans, the Repl.it, and other resources available to understand the basics of Python.</h5>
          <h5> In the navigation bar, users can find buttons that lead to journals of individual pair shares within the scrum team. Each journal is a representation of the each individual's learning throughout the trimester so far. Journals are created to reflect individual efforts to advance learning in Computer Science.</h5>

        </div>
      </div>
  <body>

<script src="https://threejs.org/build/three.js"></script>
    <script src="{{ url_for('static', filename='vanta.dots.min.js') }}"></script>
    <script>

    VANTA.DOTS({
      el: "body",
      mouseControls: true,
      touchControls: true,
      gyroControls: false,
      minHeight: 2000.00,
      minWidth: 800.00,
      scale: 1.00,
      scaleMobile: 1.00,
      wingSpan: 40.0
    })
    </script>

<style>
        html, body {
            margin: 0;
            height: 100%;
            color: white;
        }
</style>
