<html>


<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> Computer Science Principles Portfolio | Home </title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Drop down for selecting from navigation support, only works on 1st element -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- Style used to support Icons  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="https://docs.google.com/document/d/1RatYt0V-7duqtM0YuP8SuM_X90_fCG4qy2-H8HeBHvU/edit?usp=sharing">Sophie & Carter's Journal<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="https://docs.google.com/document/d/16KCrGRWoCMhvJ_rCrNne9bVYG0nbg5ySihLXvRXlXuk/edit?usp=sharing">Aditi, Isai, & Mustafa's Journal<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/aboutus/">About Us<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/contents/">Contents of Website<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/aboutdn/">About Del Norte High School<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/aboutsd/">About San Diego<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/aboutus/aditi/">About Aditi<span class="sr-only">(current)</span></a>
            <li class="nav-item active">
                <a class="nav-link" href="/aboutus/carter/">About Carter<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/aboutus/sophie/">About Sophie<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/aboutus/isai/">About Isai<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/aboutus/mustafa/">About Mustafa<span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>
<div class="row justify-content-end" style="padding-top: 2%; padding-bottom: 2%; padding: 2%;">
      <div class="col-2" style="text-align: right;">
        <h5>Aditi Akella</h5>
        <h5>Sophie Bulkin</h5>
        <h5>Yazhisai Rajaraman</h5>
        <h5>Carter Quartararo</h5>
        <h5>Mustafa Sharaf</h5>
      </div>
    </div>
    <div class="w3-display-container w3-animate-opacity">
        <img src="https://wallpapercave.com/wp/wp5559593.jpg" alt="boat" style="width:100%;min-height:300px;max-height:1080px;">
    <div class="container-fluid">

            <div class="product" style="margin-top: 2%;">
              <div class="row" style="padding: 10%; padding-top: 0%; padding-bottom: 5%;">

                  <div class="col-9" >
                      <h1>Rap Name Generator:</h1>
                  </div>

              </div>

              <div class="row" style="padding-left: 10%;">
                  <div class="col-4">
                      <a href="https://docs.google.com/document/d/1oznHcg3cH9aacs5QzSebQoF4HNzf1aoPvBG-DxUsz6g/edit?usp=sharing" class="btn">Project Plan</a>
                  </div>

                  <div class="col-4">
                      <a href="https://repl.it/join/elxqfuep-ryazhisai" class="btn">Repl.it</a>
                  </div>

                  <div class="col-4">
                      <a href="https://padlet.com/jmortensen7/csp2021" class="btn">Resources</a>
                  </div>

              </div>

            </div>


            <div class="product" style="margin-top: 5%;">
              <div class="row" style="padding: 10%; padding-top: 5%; padding-bottom: 5%;">

                  <div class="col-8" >
                      <h1>Flask Portfolio:</h1>
                  </div>

              </div>

              <div class="row" style="padding-left: 10%;">
                  <div class="col-4">
                      <a href="https://docs.google.com/document/d/1vtITMYkZ187jyhb8SKm0TCy7zE6V5hX_I1v7qYoonfQ/edit?usp=sharing" class="btn">Project Plan</a>
                  </div>

                  <div class="col-4">
                      <a href="https://repl.it/join/npotjxlx-aditiakella" class="btn">Repl.it</a>
                  </div>

                  <div class="col-4">
                      <a href="https://padlet.com/jmortensen7/csp2021" class="btn">Resources</a>
                  </div>

              </div>

            </div>


        </div>
    </body>  

    <script src="https://threejs.org/build/three.js"></script>
    <script src="{{ url_for('static', filename='vanta.ripple.min.js') }}"></script>
    <script>

    VANTA.RIPPLE({
      el: "body",
      mouseControls: true,
      touchControls: true,
      gyroControls: false,
      minHeight: 2000.00,
      minWidth: 800.00,
      scale: 1.00,
      scaleMobile: 1.00,
      wingSpan: 40.0
    })
    </script>

    <style>
        html, body {
            margin: 0;
            height: 100%;
            color: black;
        }

        h1{
            font-size: 5em;
        }


        .fa{
            font-size: 3em;
            letter-spacing: 1em;
            transition: all .2s;
            color: black;
        }



        .btn:link,
        .btn:visited {
            text-transform: uppercase;
            text-decoration: none;
            padding: 15px 40px;
            display: inline-block;
            border-radius: 100px;
            transition: all .2s;
            position: absolute;
            color: black;
            font-size: 2.5em;
        }

        .btn:hover {
            transform: translateY(-3px);
            box-shadow: 0 20px 40px rgba(255, 255, 255, 0.2);
        }

        .btn:active {
            transform: translateY(-1px);
            box-shadow: 0 5px 10px rgba(255, 255, 255, 0.2);
        }

        
    </style>

</html>
