<!DOCTYPE html>
<html lang="en">
{% extends "aboutus.html" %}

{% block individual %}
<iframe src="https://drive.google.com/file/d/1lqBBxrnhDBvSoQvYHWWkgo6HGAzJQuxw/preview" width="640" height="480"></iframe>
<h2>{{name}}</h2>
<h4>{{grade}}</h4>
<h4>{{about}}</h4>
<h4>{{contributions}}</h4>

<h3> Usage of Github</h3>
<iframe src="https://drive.google.com/file/d/1lM_7g7LtZml28Iq2_ySvo7s6yE4UTBSF/preview" width="640" height="480"></iframe>
<h3>Personal Playground Reflecting Learning of Fundamentals</h3>
<iframe height="400px" width="100%" src="https://repl.it/@ryazhisai/Guessing-Game-with-Happy-and-Sad-Animation?lite=true" scrolling="no" frameborder="no" allowtransparency="true" allowfullscreen="true" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals"></iframe>
<iframe height="400px" width="100%" src="https://repl.it/@ryazhisai/Calculator?lite=true" scrolling="no" frameborder="no" allowtransparency="true" allowfullscreen="true" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals"></iframe>
<h3>One Minute Reflection of Learning</h3>
<iframe width="560" height="315" src="https://www.youtube.com/embed/b8lLrHeDA1A" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<h3> To Do List and Expectations</h3>
<iframe src="https://docs.google.com/presentation/d/e/2PACX-1vTXHhPChHgh2BgyrpTtVmylpV8egnMwM6oRLscau2D9873gZo5Q-MLsNz6Jfug6SwwTJbA6Uxig1-Bv/embed?start=false&loop=false&delayms=60000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
{% endblock %}
</html>