<head>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/aboutsd/">About SD<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/aboutsd/history/">History</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/aboutsd/landmarks/">Landmarks</a>
      <li class="nav-item">
        <a class="nav-link" href="/aboutsd/tourist/">Tourist Spots</a>
      <li class="nav-item">
        <a class="nav-link" href="/aboutsd/restaurant/">Restaurants</a>
      <li class="nav-item">
        <a class="nav-link" href="/aboutsd/feedback/">Feedback</a>
      </li>
    </ul>
  </div>
</nav>
  <title> About San Diego| Tourist Spots </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body style= "width: 100%; ">

<div class="row" style="padding: 5%; padding-left: 35%; padding-bottom: 5%;">
<div class="col-15" >
<h1>Tourist Spots in San Diego</h1>
        </div>
</div>

    <div class="row" style="padding: 10%; padding-top: 0%; padding-bottom: 5%;">  
      <div  style="text-align: left;">
       <h2> Balboa Park</h2> 
         <img src="https://ca-times.brightspotcdn.com/dims4/default/d377efb/2147483647/strip/true/crop/2048x1152+0+0/resize/1486x836!/quality/90/?url=https%3A%2F%2Fcalifornia-times-brightspot.s3.amazonaws.com%2Fa1%2Fb3%2F8a25a6f0550e290dd10efccd7d8c%2Fsd-1515542789-ox5epb6aps-snap-image" style= "width:80%;">
         <div class="row" style="padding: 10%; padding-top: 0%; padding-bottom: 5%;">  
          <div  style="text-align: left;">
        <h4>This is a community park with many different experiences. You can visit art and history museums or just enjoy a day out in the sun with your family.</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="padding: 10%; padding-top: 0%; padding-bottom: 5%;">  
      <div  style="text-align: left;">
       <h2> San Diego Zoo</h2> 
         <img src="https://ca-times.brightspotcdn.com/dims4/default/3cbcf2a/2147483647/strip/true/crop/3960x2640+0+0/resize/840x560!/quality/90/?url=https%3A%2F%2Fcalifornia-times-brightspot.s3.amazonaws.com%2Fce%2F21%2Fea80b3364f12939013a9b2458a1f%2F526865-sd-me-normal-zoo0004.JPG" style= "width:80%;"
         <div class="row" style="padding: 10%; padding-top: 0%; padding-bottom: 5%;">  
          <div  style="text-align: left;">
        <h4>The zoo is filled with a variety of animals. You can leanr about their different behaviors and just experience the beauty of nature. For just a little bit of money, you can buy tours and get an even greater understanding of the ecosystem.</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="padding: 10%; padding-top: 0%; padding-bottom: 5%;">  
      <div  style="text-align: left;">
       <h2> SeaWorld</h2> 
         <img src="https://media2.fdncms.com/orlando/imager/u/original/25837903/7023_manta.jpeg" style= "width:80%;"
         <div class="row" style="padding: 10%; padding-top: 0%; padding-bottom: 5%;">  
          <div  style="text-align: left;">
        <h4>SeaWorld is a waterpark in which you can also learn the importance of aquatic life. There are many different things to do for fun. If you're looking for an adrenaline rush, you can ride one fo the many roller coasters. If you are looking for entertainment, you can vist one of the many shows that trained experts put on with animals performing amazing tricks. </h4>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="padding: 10%; padding-top: 0%; padding-bottom: 5%;">  
      <div  style="text-align: left;">
       <h2> USS Midway Museum </h2> 
         <img src="https://i0.wp.com/www.osidenews.com/wp-content/uploads/2014/10/uss_midway.png?fit=620%2C330&ssl=1" style= "width:80%;"
         <div class="row" style="padding: 10%; padding-top: 0%; padding-bottom: 5%;">  
          <div  style="text-align: left;">
        <h4>At this museum, you can learn the importnace of aircraft and the different steps that play into the process. You can learn everything from how these vehicles are created to testing these aircraft out.</h4>
          </div>
        </div>
      </div>
    </div>
    
</body>

<style>
        html, body {
            margin: 0;
            height: 100%;
            color: black;
        }
</style>  
